.utility-filter-form {
  @include spacing('margin-bottom', 'sm');

  display: flex;
  flex-direction: column;

  &__input {
    @include input-default;
  }

  &__label {
    font-size: 1.1rem;
    margin-bottom: 8px;

    &:not(:first-of-type) {
      @include spacing('margin-top', 'sm');
      @include spacing('padding-top', 'sm');

      border-top: 2px solid var(--color-border);
    }
  }

  &__picker {
    @include spacing('margin-top', '2xs');
  }
}
