.edit-team-form {
  &__btn {
    @include button-default;

    flex: 1 0;

    &:first-of-type {
      margin-right: 16px;
    }

    &.--save {
      @include button-primary(true, true);

      color: var(--color-text-contrast);
    }
  }

  &__button-wrapper {
    display: flex;
  }

  &__input {
    &:not(:first-of-type) {
      margin-top: 24px;
    }
  }

  &__label {
    margin-top: 24px;
    font-size: 0.9rem;
  }

  &__uploader {
    margin-top: 8px;
  }

  &__headline {
    @include form-header;
  }
}
