.toast-wrapper {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  bottom: 10vh;
  pointer-events: none;
  transition: transform 0.5s ease;

  &__toast {
    &:not(:first-of-type) {
      margin-bottom: 8px;
    }
  }

  &__toast-text {
    background: var(--color-bg-contrast);
    color: var(--color-text-contrast);
    text-align: center;
    font-size: 1.1em;
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
}
