.pose-picker {
  display: flex;
  gap: 6px;

  &__image {
    height: 100%;
    width: 40px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    color: var(--color-text);

    &:hover:not(.-readonly &) {
      opacity: 1;
    }
  }

  &__wrapper {
    &:not(.-readonly &) {
      cursor: pointer;
    }

    height: 100%;
  }
}
