.floating-add {
  background-color: $color--green;
  border-radius: 999px; // * some high value to ensure pill shape when long, and circle when short
  width: 48px;
  height: 48px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease, width 0.2s ease;
  border: 2px solid white;

  @include viewport_mq3 {
    width: 132px;
  }

  &:hover {
    transform: scale(1.03);
    background-color: darken($color--green, 15%);
  }

  &__icon {
    width: 32px;
    height: 32px;
    color: white;
  }

  &__label {
    display: none;
    color: white;
    margin-left: 6px;

    @include viewport_mq3 {
      display: block;
    }
  }
}
