.confirm-dialog {
  &__window {
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    background-color: white;
  }

  &__buttons {
    display: flex;
    margin-top: 24px;
    justify-content: center;

    & > :not(:first-child) {
      margin-left: 12px;
    }
  }

  &__text {
    line-height: 1.4;

    & bold {
      font-family: $font_ubuntu-bold;
    }
  }

  &__btn-confirm {
    @include button-default;

    & > svg {
      color: $color--green;
    }
  }

  &__btn-cancel {
    @include button-default;

    & > svg {
      color: $color--red;
    }
  }

  h1 {
    font-size: 1.15rem;
  }

  strong,
  b {
    font-family: $font_ubuntu-bold;
  }
}
