.confirm-dialog {
  &__window {
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: min(100%, 500px);
    transform: translate(-50%, -50%);
    padding: 24px;
    background-color: var(--color-bg);
    box-shadow: $shadow-soft;
  }

  &__buttons {
    @include spacing('gap', xs);

    display: flex;
    margin-top: 24px;
    justify-content: center;
  }

  &__text {
    line-height: 1.4;

    & bold {
      font-weight: 700;
    }
  }

  &__btn-confirm {
    @include button-default;

    & > svg {
      color: var(--color-green);
    }
  }

  &__btn-cancel {
    @include button-default;

    & > svg {
      color: var(--color-red);
    }
  }

  & h1 {
    font-size: 1.15rem;
  }

  & strong,
  & b {
    font-weight: $weight-bold;
  }

  & ul {
    margin-top: 12px;
    background: var(--color-bg-secondary);
    padding: 8px 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}
