%button {
  @include spacing('padding', 'xs lg');
  @include typo_button;

  border-radius: 6px;
  cursor: pointer;
  border: 2px solid $color--green;
  box-shadow: 0 0 4px rgba($color--black, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: inline-block;
  text-align: center;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgba($color--black, 0.1);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 0 4px rgba($color--black, 0.1);
  }
}

@mixin button-primary {
  @extend %button;

  background-color: $color--green;
  color: $color--white;
}

@mixin button-secondary {
  @extend %button;

  color: $color--green;
  background-color: rgba($color--white, 0.3);
}
