$color--mineshaft: #282828;
$color--abbey: #4c4c53;
$color--smoke: #ececec;
$color--emperor: #797979;
$color--charade: #18181f;
$color--anzac: #e6b352;
$color--shark: #202027;
$color--green: #41b883;
$color--peach: #f8ddab;
$color--pearl: #fcefd8;
$color--vanilla: #cdbda1;
$color--black: #000;
$color--white: #fff;
$color--oxford-blue: #14213d;
$color--orange: #fca311;
$color--platinum: #e5e5e5;
$color--navyblue: #2c3e50;
$color--red: #ff8484;
$color--dark: #202020;
$color--light: #eeeeee;

$shadow-subtle: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
