@mixin animated-burger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  cursor: pointer;

  & span {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    height: 4px;
    background: #fff;
    transition: all 0.3s;
    position: relative;
  }

  & span + span {
    margin-top: 5px;
  }

  &.active span:nth-child(1) {
    animation: ease 0.7s top forwards;
  }

  &.not-active span:nth-child(1) {
    animation: ease 0.7s top-2 forwards;
  }

  &.active span:nth-child(2) {
    animation: ease 0.7s scaled forwards;
  }

  &.not-active span:nth-child(2) {
    animation: ease 0.7s scaled-2 forwards;
  }

  &.active span:nth-child(3) {
    animation: ease 0.7s bottom forwards;
  }

  &.not-active span:nth-child(3) {
    animation: ease 0.7s bottom-2 forwards;
  }
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 9px;
    transform: rotate(0);
  }
  100% {
    top: 9px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 9px;
    transform: rotate(45deg);
  }
  50% {
    top: 9px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 9px;
    transform: rotate(0);
  }
  100% {
    bottom: 9px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 9px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 9px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@mixin blurry-backdrop {
  @include spacing('padding', 's 2xs 2xs');

  background-color: var(--color-bg-contrast-50);
  backdrop-filter: blur(15px);
  border-radius: 8px;
  box-shadow: rgba(34, 35, 36, 0.2) 0px 8px 24px;

  display: flex;
  flex-direction: column;

  @include viewport_mq3 {
    @include spacing('padding', md);
  }
}

@mixin page-headline {
  @include typo_hl3(var(--color-text-contrast-70));
  @include spacing('margin-bottom', md);
  background: -webkit-linear-gradient(
    0deg,
    var(--color-green) 0%,
    var(--color-blue) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}
