@mixin grid($cols: 12, $gutters: true) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);

  @include viewport_mq3 {
    @include spacing('gap', 'md');
  }

  @include viewport_mq6 {
    @include spacing('gap', 'lg');
  }

  @if ($gutters) {
    @include grid-gutters;
  }
}

// Grid item
@mixin grid-column($cols: 12, $start: null) {
  @if ($start == null) {
    grid-column: span #{$cols};
  } @else {
    grid-column: #{$start} / span #{$cols};
  }
}

@mixin grid-gutters {
  @include spacing('padding', '0 s');

  @include viewport_mq2 {
    @include spacing('padding', '0 md');
  }

  @include viewport_mq6 {
    @include spacing('padding', '0 lg');
  }
}
