$spacing-3xs: 4px;
$spacing-2xs: 8px;
$spacing-xs: 12px;
$spacing-s: 16px;
$spacing-sm: 24px;
$spacing-md: 32px;
$spacing-lg: 40px;
$spacing-xl: 56px;
$spacing-2xl: 72px;
$spacing-3xl: 96px;
$spacing-4xl: 128px;

$spacings: (
  '3xs': $spacing-3xs,
  '2xs': $spacing-2xs,
  'xs': $spacing-xs,
  's': $spacing-s,
  'sm': $spacing-sm,
  'md': $spacing-md,
  'lg': $spacing-lg,
  'xl': $spacing-xl,
  '2xl': $spacing-2xl,
  '3xl': $spacing-3xl,
  '4xl': $spacing-4xl,
);

@mixin spacing($property, $value) {
  @if (str-index($value, ' ') == null) {
    $prefix: '';

    @if (str-index($value, '-') == 1) {
      $prefix: '-';

      $value: str-slice($value, 2);
    }

    @if (map-has-key($spacings, $value)) {
      #{$property}: #{$prefix + map-get($spacings, $value)};
    } @else {
      #{$property}: #{$prefix + $value};
    }
  } @else {
    $convertedString: '';

    @each $splittedValue in str-split($value, ' ') {
      $prefix: '';

      @if (str-index($splittedValue, '-') == 1) {
        $prefix: '-';

        $splittedValue: str-slice($splittedValue, 2);
      }

      @if (map-has-key($spacings, $splittedValue)) {
        $convertedString: $convertedString +
          $prefix +
          map-get($spacings, $splittedValue) +
          ' ';
      } @else {
        $convertedString: $convertedString + $prefix + $splittedValue + ' ';
      }
    }

    #{$property}: #{$convertedString};
  }
}

@function str-split($string, $separator) {
  $splittedList: ();
  $index: str-index($string, $separator);

  @while $index != null {
    $item: str-slice($string, 1, $index - 1);
    $splittedList: append($splittedList, $item);
    $string: str-slice($string, $index + 1);
    $index: str-index($string, $separator);
  }

  $splittedList: append($splittedList, $string);

  @return $splittedList;
}
