$font_inter: 'Inter', arial, sans-serif;

$font_ubuntu: 'Ubuntu', arial, sans-serif;

@mixin typo_logo($color: $color--anzac) {
  font-family: $font_ubuntu;
  font-weight: 700;
  font-size: 1.8rem;
  color: $color;
}

@mixin typo_hl1($color: var(--color-text)) {
  font-family: $font_inter;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.2;
  color: $color;
}

@mixin typo_hl2($color: var(--color-text)) {
  font-family: $font_inter;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 1.1;
  color: $color;
}

@mixin typo_hl3($color: var(--color-text)) {
  font-family: $font_inter;
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.05;
  color: $color;
}

@mixin typo_hl4($color: var(--color-text)) {
  font-family: $font_inter;
  font-weight: 700;
  font-size: 1.6rem;
  color: $color;
}

@mixin typo_hl5($color: var(--color-text)) {
  font-family: $font_inter;
  font-weight: 500;
  font-size: 1.2rem;
  color: $color;
}

@mixin typo_link($color: var(--color-text)) {
  font-family: $font_ubuntu;
  font-weight: 500;
  font-size: 1.1rem;
  color: $color;
}

@mixin typo_button($color: var(--color-text)) {
  font-family: $font_inter;
  font-weight: 500;
  font-size: 1.1rem;
  color: $color;
}

@mixin typo_tagline($color: var(--color-text)) {
  font-family: $font_inter;
  font-weight: 700;
  font-size: 1.6rem;
  color: $color;
}

@mixin typo_subline($color: var(--color-text)) {
  font-family: $font_inter;
  font-weight: 500;
  font-size: 1.1rem;
  color: $color;
}

@mixin typo_text($color: var(--color-text)) {
  font-family: $font_inter;
  font-weight: 400;
  font-size: 1rem;
  color: $color;
}

@mixin typo_text-large($color: var(--color-text)) {
  font-family: $font_inter;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.05;
  color: $color;
}
