.profile-view {
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    @include view-content;

    @include viewport_range(mq1, mq3) {
      width: 100%;
      height: 100%;
    }

    padding-bottom: 48px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    @include viewport_mq3 {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding-bottom: 72px;
    }
  }

  &__detail {
    @include fieldset;

    width: 100%;

    @include viewport_range(mq1, mq3) {
      @include spacing('margin-top', sm);
      @include spacing('margin-bottom', '2xs');
    }

    @include viewport_mq3 {
      width: 400px;
    }
  }

  &__avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: $shadow-subtle;

    @include viewport_mq3 {
      @include spacing('margin-left', sm);
    }

    @include viewport_mq4 {
      width: 200px;
      height: 200px;
    }
  }

  &__btn-wrapper {
    position: absolute;
    right: 16px;
    bottom: 16px;
    color: var(--color-bg);
    display: flex;

    & > :not(:first-of-type) {
      margin-left: 16px;
    }

    @include viewport_mq3 {
      right: 24px;
      bottom: 24px;
    }
  }

  &__btn {
    @include button-default($color--red);

    color: var(--color-bg);
  }
}
