.profile-view {
  &__content {
    background-color: white;
    box-shadow: $shadow-subtle;
    padding: 24px 24px 64px 24px;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100%;

    @include viewport_mq3 {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__detail {
    @include fieldset;

    margin-top: 24px;
    width: 100%;

    @include viewport_mq3 {
      width: 400px;
    }
  }

  &__avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: $shadow-subtle;

    @include viewport_mq4 {
      width: 200px;
      height: 200px;
    }
  }

  &__logout {
    @include button-default($color--red);

    position: absolute;
    right: 24px;
    bottom: 24px;
    color: white;
  }
}
