.profile-view {
  &__content {
    @include view-content;

    padding-bottom: 48px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100%;

    @include viewport_mq3 {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding-bottom: 64px;
    }
  }

  &__detail {
    @include fieldset;

    margin-top: 24px;
    width: 100%;

    @include viewport_mq3 {
      width: 400px;
    }
  }

  &__avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: $shadow-subtle;

    @include viewport_mq4 {
      width: 200px;
      height: 200px;
    }
  }

  &__btn-wrapper {
    position: absolute;
    right: 16px;
    bottom: 16px;
    color: white;
    display: flex;

    & > :not(:first-of-type) {
      margin-left: 16px;
    }

    @include viewport_mq3 {
      right: 24px;
      bottom: 24px;
    }
  }

  &__btn {
    @include button-default($color--red);

    color: white;
  }
}
