@import 'Burger.scss';

.main-menu {
  z-index: 10;

  &__list {
    background: var(--color-bg-blue);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 0;
    position: fixed;
    transition: width $transition--speed ease;
    left: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    pointer-events: none;
    display: flex;

    @include viewport_mq3 {
      width: 70px;
      pointer-events: all;
    }

    &.-open {
      width: 220px;
      pointer-events: all;

      .main-menu__label,
      .main-menu__profile-label,
      .main-menu__icon,
      .main-menu__profile,
      .main-menu__logo,
      .main-menu__darkmode-toggle {
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
      }

      .main-menu__link {
        opacity: 1;
        pointer-events: all;
      }
    }

    &:hover {
      @include viewport_mq3 {
        width: 220px;

        .main-menu__label,
        .main-menu__profile-label,
        .main-menu__icon,
        .main-menu__profile,
        .main-menu__logo,
        .main-menu__darkmode-toggle {
          transform: translateX(0);
          opacity: 1;
        }

        .main-menu__link {
          opacity: 1;
        }
      }
    }
  }

  &__list-item,
  &__profile,
  &__logo {
    width: 100%;
    padding: 15px 20px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: background-color 0.3s ease;

    @include viewport_mq3 {
      padding: 20px;
    }

    &:hover {
      @include viewport_mq3 {
        background-color: var(--color-bg-dark);
      }
    }
  }

  &__list-item {
    position: relative;

    &::after {
      opacity: 0;
      position: absolute;
      content: '';
      width: 3px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(white, 0.7);
      height: 50%;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      transition: opacity 0.2s ease;
    }

    &.router-link-active {
      position: relative;

      &::after {
        opacity: 1;
      }
      .main-menu__icon {
        & path {
          fill: var(--color-text-contrast);
        }
      }
      .main-menu__label {
        color: var(--color-text-contrast);
      }
    }
  }

  &__icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;

    @include viewport_mq3 {
      opacity: 1;
      pointer-events: all;
    }

    & path {
      transition: fill 0.3s ease;
      fill: var(--color-text-contrast-70);
    }
  }

  &__logo-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  &__label {
    white-space: nowrap;
    margin-left: 1.5rem;
    opacity: 0;
    overflow: hidden;
    color: var(--color-text-contrast-70);
    transform: translateX(-20px);
    transition: opacity 0.5s ease-out, color 0.3s ease, transform 0.5s ease-out;
  }

  &__logo {
    padding-left: 16px;
    background: var(--color-bg-dark);
    opacity: 0;
    transition: opacity 0.3s ease;

    @include viewport_mq3 {
      opacity: 1;
    }
  }

  &__logo-label {
    color: var(--color-yellow);
    font-weight: $weight-bold;
    transform: translateX(0);
    margin-left: 16px;
    font-size: 1.1rem;
  }

  &__link {
    color: var(--color-text-contrast-70);
    align-items: center;
    font-size: 0.8rem;
    opacity: 0;
    padding: 8px 24px;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.3s ease, background-color 0.3s ease;
    display: flex;

    @include viewport_mq3 {
      font-size: 0.9rem;
    }

    & > svg {
      margin-right: 6px;
      width: 14px;
      height: 14px;

      @include viewport_mq3 {
        margin-right: 10px;
      }
    }

    &:hover {
      & > svg > path {
        fill: var(--color-bg);
        transition: fill 0.3s ease;
      }
      &.--twitter {
        & > svg > path {
          fill: #1da1f2;
        }
      }
      &.--discord {
        & > svg > path {
          fill: #7289da;
        }
      }
      &.--github {
        & > svg > path {
          fill: #7289da;
        }
      }
      &.--download {
        & > svg > path {
          fill: $color--green;
        }
      }
      &.--kofi {
        & > svg > path {
          fill: $color--red;
        }
      }
      &.--feedback {
        & > svg > path {
          fill: $color--sand;
        }
      }
      &.--imprint {
        & > svg > path {
          fill: $color--orange;
        }
      }
    }

    &.--kofi {
      margin-bottom: 24px;
    }
  }

  &__profile {
    padding: 12px;
    background: $color--black;
    opacity: 0;
    transition: opacity 0.3s ease;
    height: 70px;

    @include viewport_mq3 {
      opacity: 1;
    }
  }

  &__avatar {
    border-radius: 50%;
    width: 45px;
    min-width: 45px; // fixes weird size glitch on first load
    height: 45px;
    border: 2px solid $color--grey;
  }

  &__profile-label {
    margin-left: 1rem;
    color: var(--color-text-contrast);
  }

  &__mobile {
    position: fixed;
    left: 20px;
    bottom: 16px;
    width: 48px;
    height: 48px;
    z-index: 10;
    padding: 4px;
    border-radius: 50%;
    background-color: var(--color-bg-dark);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
    opacity: 1;

    &.-open {
      opacity: 0;
    }

    @include viewport_mq3 {
      display: none;
    }
  }

  &__darkmode-toggle {
    @include spacing('margin-left', 'sm');
    @include spacing('margin-bottom', 'xs');

    opacity: 0;
    transition: opacity 0.3s ease;
    align-self: flex-start;
    margin-top: auto;
  }
}
