@import 'Burger.scss';

.main-menu {
  z-index: 10;

  &__list {
    background: $color--darkblue;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 0;
    position: fixed;
    transition: width $transition--speed ease;
    left: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    pointer-events: none;
    display: flex;

    @include viewport_mq3 {
      width: 70px;
      pointer-events: all;
    }

    &.-open {
      width: 220px;
      pointer-events: all;

      .main-menu__label,
      .main-menu__profile-label,
      .main-menu__icon,
      .main-menu__profile,
      .main-menu__logo {
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
      }

      .main-menu__link {
        opacity: 1;
        pointer-events: all;
      }
    }

    &:hover {
      @include viewport_mq3 {
        width: 220px;

        .main-menu__label,
        .main-menu__profile-label,
        .main-menu__icon,
        .main-menu__profile,
        .main-menu__logo {
          transform: translateX(0);
          opacity: 1;
        }

        .main-menu__link {
          opacity: 1;
        }
      }
    }
  }

  &__list-item,
  &__profile {
    width: 100%;
    padding: 15px 20px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: background-color 0.3s ease;

    @include viewport_mq3 {
      padding: 20px;
    }

    &:hover {
      @include viewport_mq3 {
        background-color: $color--black;
      }
    }

    &.router-link-exact-active {
      .main-menu__icon {
        transform: scale3d(1.2, 1.2, 1.2);
        & path {
          fill: white;
        }
      }
      .main-menu__label {
        color: white;
      }
    }
  }

  &__icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;

    @include viewport_mq3 {
      opacity: 1;
      pointer-events: all;
    }

    & path {
      transition: fill 0.3s ease;
      fill: $color--grey;
    }
  }

  &__logo-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    position: relative;
    transform: scale(1);

    &.-loading {
      animation: pulse-scale 2s infinite;

      &::after {
        animation: pulse-shadow 2s infinite;
      }
    }

    &::after {
      content: '';
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
      background-color: black;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__label {
    font-family: Open Sans, sans-serif;
    white-space: nowrap;
    margin-left: 1.5rem;
    opacity: 0;
    overflow: hidden;
    color: $color--grey;
    transform: translateX(-20px);
    transition: opacity 0.5s ease-out, color 0.3s ease, transform 0.5s ease-out;
  }

  &__logo {
    padding-left: 16px;
    background: $color--black;
    opacity: 0;
    transition: opacity 0.3s ease;

    @include viewport_mq3 {
      opacity: 1;
    }
  }

  &__logo-label {
    color: $color--orange;
    font-family: $font_ubuntu-bold;
    transform: translateX(0);
    margin-left: 16px;
    font-size: 1.1rem;
  }

  &__link {
    color: $color--grey;
    align-items: center;
    font-size: 0.8em;
    opacity: 0;
    padding: 8px 24px;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.3s ease, background-color 0.3s ease;
    display: flex;

    & > svg {
      margin-right: 6px;
      width: 14px;
      height: 14px;
    }

    &.--twitter {
      margin-top: auto;
      &:hover {
        & > svg > path {
          fill: #1da1f2;
          transition: fill 0.3s ease;
        }
      }
    }
    &.--discord {
      &:hover {
        & > svg > path {
          fill: #7289da;
          transition: fill 0.3s ease;
        }
      }
    }
    &.--download {
      &:hover {
        & > svg > path {
          fill: $color--green;
          transition: fill 0.3s ease;
        }
      }
    }
    &.--feedback {
      &:hover {
        & > svg > path {
          fill: $color--sand;
          transition: fill 0.3s ease;
        }
      }
    }
    &.--imprint {
      &:hover {
        & > svg > path {
          fill: $color--orange;
          transition: fill 0.3s ease;
        }
      }
    }
    &.--kofi {
      margin-bottom: 24px;

      &:hover {
        & > svg > path {
          fill: $color--red;
          transition: fill 0.3s ease;
        }
      }
    }
  }

  &__profile {
    padding: 12px;
    background: $color--black;
    opacity: 0;
    transition: opacity 0.3s ease;

    @include viewport_mq3 {
      opacity: 1;
    }
  }

  &__avatar {
    border-radius: 50%;
    width: 45px;
    min-width: 45px; // fixes weird size glitch on first load
    height: 45px;
    border: 2px solid $color--grey;
  }

  &__profile-label {
    margin-left: 1rem;
    color: white;
  }

  &__mobile {
    position: fixed;
    left: 20px;
    bottom: 16px;
    width: 48px;
    height: 48px;
    z-index: 10;
    padding: 4px;
    border-radius: 50%;
    background-color: $color--dark;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
    opacity: 1;

    &.-open {
      opacity: 0;
    }

    @include viewport_mq3 {
      display: none;
    }
  }
}
