.member-item {
  background: var(--color-bg);
  border-radius: 11px;
  display: flex;
  align-items: center;
  padding: 19px 33px 19px 19px;
  box-shadow: $shadow-subtle;

  &__avatar {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    object-fit: cover;

    .-online & {
      border: 2px solid var(--color-green);
    }
  }

  &__text {
    @include spacing('margin-left', '18px');

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  &__name {
    @include typo_hl3;

    color: var(--color-text);
  }

  &__role {
    @include typo_subline(var(--color-text-tertiary));
  }

  &__tag {
    @include tag-pill;

    &.-online {
      background-color: var(--color-green);
    }
  }

  &__button-group {
    margin-left: auto;

    & > :not(:first-child) {
      @include spacing('margin-left', '2xs');
    }
  }

  &__btn {
    @include icon-button;
  }

  &__color-dot {
    @include spacing('margin-right', '2xs');

    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
}

//* vue-swatches overrides

.vue-swatches {
  &__trigger__wrapper {
  }
}
