.utility-form {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include viewport_mq3 {
    width: 360px;
  }

  @include viewport_mq7 {
    width: 450px;
  }

  &__btn-wrapper {
    margin-top: auto;
    padding-top: 6px;
    display: flex;
    justify-content: flex-end;

    @include viewport_mq3 {
      transform: translateY(10px);
      margin-top: 6px;
      padding-top: 0;
    }
  }

  &__btn {
    &.--submit {
      @include button-primary;
    }
    &.--cancel {
      @include button-danger;
    }

    &:not(:first-of-type) {
      margin-left: 6px;
    }
  }

  &__label {
    font-size: 1rem;
    margin-bottom: 12px;
    transition: color 0.2s ease;

    &:not(:first-of-type) {
      margin-top: 12px;
    }
  }

  &__side-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__horizontal-wrapper {
    display: flex;

    & > :not(:first-of-type) {
      margin-left: 12px;
      padding-left: 12px;
      border-left: 1px solid $color--grey;
    }
  }

  &__config-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__vertical-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__pose-picker {
    height: 50px;
  }

  &__mouse-button-picker {
    margin-right: 12px;
  }

  &__input-wrapper {
    @include spacing('gap', '2xs');

    display: flex;
    width: 100%;
    justify-content: stretch;

    & > .text-input {
      width: 100%;
    }
  }
}
