.utility-form {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include viewport_mq3 {
    width: 450px;
  }

  &__btn-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    
    @include viewport_mq3 {
      transform: translateY(10px);
      margin-top: 6px;
    }
  }

  &__btn {
    &.--submit {
      @include button-default($color--green, white);
    }
    &.--cancel {
      @include button-default($color--red, white);
    }

    &:not(:first-of-type) {
      margin-left: 6px;
    }
  }

  &__label {
    font-size: 1rem;
    margin-bottom: 12px;
    transition: color 0.2s ease;

    &:not(:first-of-type) {
      margin-top: 12px;
    }
  }

  &__side-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__horizontal-wrapper {
    display: flex;
    justify-content: space-between;

    & > :not(:first-of-type) {
      margin-left: 12px;
      padding-left: 12px;
      border-left: 1px solid $color--grey;
    }

    & > * {
      flex: 1 0;
    }
  }

  &__config-wrapper {
    display: flex;
    justify-content: space-evenly;
  }

  &__vertical-wrapper {
    display: flex;
    flex-direction: column;
  }
}
