.utility-form {
  width: 100%;
  height: 100%;
  // overflow: auto;
  // @include hidden-scrollbar;

  @include viewport_mq3 {
    width: 450px;
  }

  &__btn-submit,
  &__btn-cancel {
    color: white;
    border-radius: 2px;
    padding: 4px 8px;
    width: 64px;
    height: 32px;
    transition: background-color 0.2s ease;
    cursor: pointer;
  }

  &__btn-wrapper {
    margin-top: 6px;
    display: flex;
    justify-content: flex-end;
    transform: translateY(10px);
  }

  &__btn-submit {
    background-color: $color--green;
    margin-left: 12px;
    &:hover {
      background-color: darken($color--green, 10%);
    }
  }
  &__btn-cancel {
    background-color: $color--red;
    &:hover {
      background-color: darken($color--red, 15%);
    }
  }

  &__label {
    font-size: 1rem;
    margin-bottom: 12px;
    transition: color 0.2s ease;

    &:not(:first-of-type) {
      margin-top: 12px;
    }
  }

  &__side-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__horizontal-wrapper {
    display: flex;
    justify-content: space-between;

    & > :not(:first-of-type) {
      margin-left: 12px;
      padding-left: 12px;
      border-left: 1px solid $color--grey;
    }

    & > * {
      flex: 1 0;
    }
  }

  &__config-wrapper {
    display: flex;
    justify-content: space-evenly;
  }

  &__vertical-wrapper {
    display: flex;
    flex-direction: column;
  }
}
