.backdrop-dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 0.3s ease-in-out fade;

  &__content {
    padding: 16px;
    background-color: $color--smoke;
    min-width: 100%;
    height: 100%;
    overflow-y: auto;

    @include viewport_mq3 {
      padding: 20px;
      height: auto;
      min-width: 320px;
      border-radius: 10px;
      animation: 0.3s ease-in-out expand;
    }

    @include viewport_mq7 {
      padding: 24px;
      min-width: 360px;
    }
  }
}
