.team-view {
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    @include view-content;
    @include spacing('gap', 'sm');

    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    max-width: 1440px;
    overflow-y: auto;

    @include viewport_mq4 {
      flex-direction: row;
    }

    @include viewport_mq5 {
      @include spacing('gap', '2xl');
    }
  }
}
