.team-view {
  
  &__content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: $shadow-subtle;
    padding: 24px;
    border-radius: 8px;
  }

  &__title {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__right-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__avatar {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    box-shadow: $shadow-subtle;
  }

  &__member-list {
    height: 100%;
    margin-top: 32px;
  }
}
