.form-field-set {
  padding: 12px;
  box-shadow: $shadow-subtle;
  background-color: var(--color-bg);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include viewport_mq3 {
    padding: 12px;
  }

  @include viewport_mq7 {
    padding: 16px;
  }
}
