.form-field-set {
  padding: 12px;
  box-shadow: $shadow-subtle;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  @include viewport_mq3 {
    padding: 12px;
  }

  @include viewport_mq7 {
    padding: 16px;
  }

  &:not(:first-of-type) {
    margin-top: 12px;
  }

  & > :not(:last-of-type) {
    margin-bottom: 10px;
  }
}
