.type-badge {
  width: 32px;
  height: 32px;
  opacity: 0.3;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;

  @include viewport_mq3 {
    opacity: 0.5;
    width: 36px;
    height: 36px;
  }

  &:hover {
    transform: scale(1.03);
  }

  &.--buyround {
    background-color: var(--color-blue);
  }
  &.--pistol {
    background-color: var(--color-yellow);
  }
  &.--force {
    background-color: var(--color-red);
  }

  &__icon {
    width: 16px;
    height: 16px;
    object-fit: contain;

    @include viewport_mq3 {
      width: 20px;
      height: 20px;

      &.--buyround {
        width: 28px;
        height: 28px;
      }
    }

    &.--buyround {
      width: 24px;
      height: 24px;
    }
  }
}
