.team-info {
  background-color: white;
  box-shadow: $shadow-subtle;
  padding: 24px;
  border-radius: 8px;

  &__title {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__left-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__right-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__avatar {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    box-shadow: $shadow-subtle;
  }

  &__website {
    font-size: 1.1em;
    font-style: italic;
    margin-top: 4px;
    cursor: pointer;
  }

  &__server-wrapper {
    display: flex;
    color: $color--navyblue-80;
    align-items: center;
    margin-top: 12px;
  }

  &__server-copy,
  &__server-run {
    width: 36px;
    height: 36px;
    padding: 6px;
    border: 2px solid $color--navyblue-80;
    border-radius: 6px;
    cursor: pointer;
  }

  &__server-run {
    @include tooltip;
    margin-left: 8px;
  }

  &__server-copy {
    @include tooltip;
    &::after {
      left: 70px;
    }
  }

  &__code {
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold;
    color: $color--navyblue-80;
    padding: 4px 0 4px 12px;
    border: 3px dashed $color--navyblue-80;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: auto;
    user-select: auto;
    width: fit-content;
  }

  &__code-copy {
    @include tooltip;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    margin-left: 8px;
    padding: 6px 16px 6px 12px;
    & > svg {
      height: 24px;
      width: 24px;
    }
  }

  &__leave {
    @include tooltip;
    font-size: 0.9em;
    color: $color--red;
    margin-top: 12px;
    cursor: pointer;
    line-height: 0.8;
    position: absolute;
    bottom: -18px;
    right: 0;
  }

  &__member-list {
    margin-top: 32px;
    padding: 16px;
    border: 2px solid $color--navyblue-80;
    border-radius: 8px;
    position: relative;
  }

  &__member {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
    padding: 6px 12px;
    border-radius: 4px;
    &:not(:first-of-type) {
      margin-top: 12px;
    }

    &.-self {
      background-color: $color--navyblue-20;
    }

    &.-online {
      border: 1px solid $color--green;
    }
  }

  &__member-last-online {
    font-size: 0.8em;
    font-style: italic;
    color: rgba($color--navyblue, 0.8);
    margin-left: 3px;
  }

  &__member-text {
    display: flex;
    flex-direction: column;
  }

  &__member-name {
    display: flex;
    align-items: center;
  }

  &__captain-icon {
    width: 20px;
    height: 20px;
    color: $color--navyblue-80;
    margin-right: 6px;
  }

  &__member-avatar {
    width: 48px;
    height: 48px;
    border-radius: 4px;
  }

  &__member-header {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 16px;
  }
}
