.utility-picker {
  display: flex;
  justify-content: space-evenly;

  &__button {
    position: relative;
    width: 48px;
    height: 48px;
    object-fit: contain;
    opacity: 0.4;
    cursor: pointer;
    border-radius: 50%;
    transition: opacity 0.3s ease, border-color 0.3s ease;
    background-color: var(--color-bg-secondary);
    border: 2px solid var(--color-text-tertiary);

    @include viewport_mq3 {
      width: 56px;
      height: 56px;
    }

    @include viewport_mq7 {
      width: 64px;
      height: 64px;
    }

    &.-selected {
      opacity: 1;
      filter: grayscale(0%);
    }

    &:not(:first-of-type) {
      margin-left: 12px;
    }
  }

  &__label {
    font-weight: $weight-bold;
    color: var(--color-text);
    font-size: 0.7rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-variant: small-caps;
    letter-spacing: -0.3px;
    display: none;

    @include viewport_mq3 {
      display: block;
      bottom: 10px;
    }

    @include viewport_mq7 {
      font-size: 0.8rem;
      bottom: 12px;
    }
  }

  &__icon {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    width: 24px;
    height: 24px;
    opacity: 0.6;
    object-fit: contain;
    filter: var(--invert-value);

    @include viewport_mq3 {
      top: 8px;
    }

    @include viewport_mq7 {
      top: 10px;
    }
  }
}
