.utility-item {
  height: 200px;
  border: 2px solid var(--color-bg-secondary);
  box-shadow: 0 0 7px rgba(black, 0.2);
  overflow: hidden;
  background-color: var(--color-bg-secondary);
  position: relative;
  border-radius: 6px;

  &__image {
    width: 100%;
    height: calc(100% - 30px);
    object-fit: cover;
    transition: transform 0.6s ease;
    cursor: pointer;

    &:hover {
      transform: scale3d(1.02, 1.02, 1.02);
    }
  }

  &__info {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: var(--color-bg-secondary);
    display: flex;
    align-items: center;
    padding: 4px;
  }

  &__name {
    font-weight: $weight-bold;
    margin-right: auto;
    max-width: calc(100% - 40px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__pose-wrapper {
    display: flex;
    align-items: center;
    margin-left: 6px;

    &:last-of-type {
      padding-right: 8px;
      border-right: 1px solid $color--grey;
    }
  }

  &__pose {
    height: 20px;
    width: 20px;
    opacity: 0.7;
  }

  &__side-wrapper {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 6px;
    right: 6px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(black, 0.6);
  }

  &__type {
    position: absolute;
    right: 6px;
    top: 48px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(black, 0.6);
  }

  &__side {
    width: 100%;
    height: 100%;
  }

  &__mouse-button {
    height: 22px;
    width: 30px;
    opacity: 0.9;
  }

  &__context {
    width: 24px;
    height: 100%;
    background-color: var(--color-bg);
    border: 1px solid var(--color-accent-35);
    border-radius: 4px;
    padding: 2px;
    cursor: pointer;
    transition: border-color 0.2s ease;
    margin-left: 12px;

    &:hover {
      border-color: var(--color-accent-65);
    }

    & > svg {
      width: 100%;
      height: 100%;
      color: var(--color-default);
    }
  }

  &__copy-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon-copy {
    height: 48px;
    color: $color--emperor;
  }

  &__labels {
    @extend %hidden-scrollbar;

    position: absolute;
    left: 4px;
    top: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__label {
    @extend %label;

    box-shadow: 0 0 4px rgba(black, 0.6);
    height: 24px;
    flex-shrink: 0;

    &.-readonly {
      cursor: default;
      padding: 4px 6px;

      & > svg {
        display: none;
      }
    }

    &:hover {
      & > svg {
        opacity: 1;
        scale: 1;
      }
    }

    & > svg {
      transition: opacity 0.3s ease, scale 0.3s ease;
      width: 12px;
      height: 12px;
      scale: 0.9;
      opacity: 0.4;
    }

    &.--add {
      background: var(--color-green);
      padding: 4px 6px;
      align-items: center;
      justify-content: center;

      & > svg {
        opacity: 1;
        width: 14px;
        height: 14px;
      }
    }
  }
}
