body {
  background-color: #202020;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  color: white;
}

.header {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 32px;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 64px 0;
}

.text {
  color: white;
  margin-block: 32px;
  text-align: center;
}

.link,
.link-info {
  color: white;
  text-align: center;
  font-size: 0.9em;
}

.link {
  margin-inline: 24px;
  word-break: break-all;
}

.link-info {
  margin-top: 64px;
}

/* margin: 0 auto; and flex-box both dont seem to work in email templates */
.button {
  color: white;
  padding: 10px 20px;
  background-color: #41b883;
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  display: inline-block;
}

.logo {
  width: 128px;
  height: 128px;
}

a:visited {
  color: white;
}
