.type-picker {
  display: flex;
  justify-content: space-evenly;

  &__button {
    position: relative;
    width: 64px;
    height: 64px;
    object-fit: contain;
    opacity: 0.4;
    cursor: pointer;
    border-radius: 50%;
    transition: opacity 0.3s ease, border-color 0.3s ease, filter 0.3s ease, transform 0.3s ease;
    background-color: var(--color-bg-secondary);
    filter: grayscale(80%);

    &:hover {
      transform: scale(1.03);
    }

    &.-selected {
      opacity: 1;
      filter: grayscale(0%);
    }

    &.--buyround {
      background-color: var(--color-blue);
    }
    &.--pistol {
      background-color: var(--color-yellow);
    }
    &.--force {
      background-color: var(--color-red);
    }

    &:not(:first-of-type) {
      margin-left: 12px;
    }
  }

  &__label {
    font-weight: $weight-bold;
    color: var(--color-bg-contrast);
    font-size: 0.8rem;
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    font-variant: small-caps;
    letter-spacing: -0.3px;
  }

  &__icon {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    width: 24px;
    height: 24px;
    opacity: 0.6;
    object-fit: contain;

    &.--buyround {
      width: 28px;
      height: 28px;
      top: 7px;
    }
  }
}
