.join-team-form {
  &__form {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: white;
    transition: height 0.3s ease;
    border-radius: 8px;
    width: fit-content;
    box-shadow: $shadow-subtle;
  }

  &__headline {
    font-size: 1.5em;
    margin-bottom: 16px;
    border-radius: 8px;
    padding: 12px 24px;
    background-color: white;
    box-shadow: $shadow-subtle;
  }

  &__label {
    font-size: 1em;
    display: block;
    &:not(:first-of-type) {
      margin-top: 24px;
    }
    transition: color 0.2s ease;
  }

  &__input {
    @include input_default;

    margin-top: 8px;
  }

  &__input--code {
    text-transform: uppercase;
  }

  &__submit {
    margin-top: 16px;
    width: 300px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    border-radius: 2px;
    padding: 4px 8px;
    letter-spacing: 1px;
    font-size: 0.9em;
    height: 32px;
    transition: background-color 0.2s ease;
    cursor: pointer;
    background-color: $color--green;
  }

  &__error {
    color: $color--red;
    max-width: 300px;
    margin-bottom: 12px;
    padding: 8px;
    border-radius: 6px;
    background-color: $color--red-25;
  }
}
