.join-team-form {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: $color--smoke;
  border-radius: 8px;
  box-shadow: $shadow-subtle;

  &__headline {
    @include form-header;
  }

  &__form {
    transition: height 0.3s ease;
  }

  &__label {
    font-size: 1em;
    display: block;
    &:not(:first-of-type) {
      margin-top: 24px;
    }
    transition: color 0.2s ease;
  }

  &__input {
    margin-top: 16px;
    & > input {
      text-transform: uppercase;
      font-family: $font_ubuntu-bold;
      color: $color--abbey;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
  }

  &__submit {
    @include button-big($color--green);

    margin-top: 16px;
    color: white;
  }

  &__error {
    width: 100%;
    color: $color--red;
    padding: 8px;
    border-radius: 6px;
    background-color: rgba($color--red, 0.2);
  }
}
