.join-team-form {
  @include form-container;

  @include viewport_mq5 {
    width: 300px;
  }

  &__headline {
    @include form-header;
  }

  &__form {
    transition: height 0.3s ease;
  }

  &__label {
    font-size: 1em;
    display: block;
    &:not(:first-of-type) {
      margin-top: 24px;
    }
    transition: color 0.2s ease;
  }

  &__input {
    & > input {
      text-transform: uppercase;
      font-weight: $weight-bold;
    }
  }

  &__submit {
    @include button-primary(true);

    margin-top: 16px;
  }

  &__error {
    @include error-notification;
    @include spacing('margin-bottom', 'xs');
  }
}
