.step-item {
  &:not(:first-of-type) {
    margin-top: 4px;
  }
  &__container {
    width: calc(100% - 210px);
    border: 1px solid $color--navyblue-50;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.-edit {
      border-color: $color--navyblue;
      border-left-width: 3px;

      .step-item__description {
        cursor: text;
      }
    }
  }

  &__description {
    //width: calc(100% - 160px);
    width: 100%;
    height: 100%;
    border-right: 1px solid $color--navyblue-50;
    padding: 7px;
    cursor: default;
  }

  &__equipment-wrapper {
    padding-right: 12px;
    display: flex;
    align-items: center;
  }
  &__equipment-item {
    width: 28px;
    height: 28px;
    opacity: 0.3;

    &.-active {
      opacity: 0.8;
    }
  }
}

// Select overrides

.multiselect {
  max-width: 200px;
  min-height: 30px;
  height: 30px;

  &__select {
    height: 30px;
    &::before {
      top: 80%;
    }
  }
  &__tags {
    height: 30px;
    min-height: 30px;
    padding: 4px 40px 4px 8px;
  }
}
