.step-item {
  &:not(:first-of-type) {
    margin-top: 4px;
  }
  &__container {
    width: calc(100% - 210px);
    border: 1px solid $color--navyblue-50;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.-edit {
      border-color: $color--navyblue;
      border-left-width: 3px;

      .step-item__description {
        cursor: text;
      }

      .multiselect {
        max-width: 148px;
      }
      .multiselect__tags {
        padding-left: 6px;
      }
    }
  }

  &__description {
    width: 100%;
    height: 100%;
    border-right: 1px solid $color--navyblue-50;
    border-left: 1px solid $color--navyblue-50;
    padding: 7px;
    cursor: default;
    //overflow: auto;
    resize: horizontal;
  }

  &__equipment-wrapper {
    padding-right: 12px;
    display: flex;
    align-items: center;
  }
  &__equipment-item {
    width: 28px;
    height: 28px;
    opacity: 0.3;

    &.-active {
      opacity: 0.8;
    }
  }
}

// Select overrides

.multiselect {
  max-width: 150px;
  min-height: 29px;
  height: 29px;
  cursor: pointer;

  &__select {
    height: 29px;
    &::before {
      top: 80%;
    }
  }
  &__tags {
    height: 29px;
    min-height: 29px;
    padding: 4px 40px 4px 8px;
    border-radius: 0;
    border: none;
  }

  &__single {
    font-size: 1em;
    color: $color--black;
    font-weight: bold;
  }

  &__placeholder {
    padding-left: 5px;
  }

  &__option--selected.multiselect__option--highlight {
    background: $color--green;
  }

  &--disabled .multiselect__select {
    background: white;
    top: 0;
    right: 0;
  }
}
