@import '~vue-context/dist/css/vue-context.css';

.member-list {
  padding: 16px;
  border: 2px solid $color--navyblue-80;
  border-radius: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  
  &::-webkit-scrollbar {
    display: none;
  }

  &__header {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 1.1rem;
  }

  &__member {
    &:not(:first-of-type) {
      margin-top: 12px;
    }
  }
}

.v-context {
  & > li {
    cursor: pointer;
  }
}