.member-list {
  @include spacing('padding', sm);

  border-radius: 10px;
  background: var(--color-bg-secondary);
  flex-grow: 1;
  flex-basis: auto;
  max-height: 800px;
  overflow-y: auto;
  overflow-x: hidden;

  &__member {
    &:not(:first-of-type) {
      margin-top: 12px;
    }
  }
}
