.forgot-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  background-color: var(--color-bg-secondary);
  box-shadow: $shadow-subtle;
  transition: height 0.3s ease;
  border-radius: 8px;
  width: 100%;

  @include viewport_mq2 {
    width: 320px;
  }

  &__logo {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 48px;
  }

  &__label {
    font-size: 1em;
    display: block;
    &:not(:first-of-type) {
      margin-top: 12px;
    }
    transition: color 0.2s ease;
  }

  &__input {
    width: 100%;

    &:not(:first-of-type) {
      margin-top: 16px;
    }
  }

  &__submit {
    @include button-primary(true);

    box-shadow: $shadow-subtle;
    margin-top: 16px;
    width: 100%;
    font-size: 1rem;
  }

  &__login-text {
    margin-top: 8px;
    align-self: flex-start;
  }

  &__login-link {
    font-weight: bold;
    margin-left: 4px;
    color: var(--color-green);
    cursor: pointer;
  }

  &__error {
    @include error-notification;
    @include spacing('margin-bottom', 'xs');
  }
}
