.map-view {
  position: relative;

  &__map-btn {
    position: absolute;
    top: 48px;
    right: 48px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    filter: drop-shadow(4px 4px 4px rgba(black, 0.3));

    &:hover {
      .map-view__map-img {
        transform: scale(1.1);
        opacity: 0.8;
      }
    }

    @include viewport_range(mq1, mq2) {
      top: 24px;
      right: 24px;
      width: 72px;
      height: 72px;
    }
  }

  &__map-label {
    color: var(--color-bg);
    font-size: 1.1rem;
    text-shadow: 0px 0px 4px rgba(black, 0.8);
    position: absolute;
  }

  &__map-img {
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
  }

  &__context-link {
    &[disabled] {
      pointer-events: none;
      cursor: not-allowed;

      & > a {
        color: $color--emperor;
      }
    }
  }

  &__input {
    @include input-default;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:focus {
      + .map-view__join-btn {
        border-color: rgba($color--navyblue, 0.65);
      }
    }
  }

  &__join-room-wrapper {
    position: absolute;
    top: 24px;
    left: 24px;
    display: flex;
  }

  &__join-btn {
    @include button-default;

    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 4px;
    box-shadow: $shadow-subtle;
    transition: border 0.2s ease, outline 0.2s ease;

    &:hover,
    &:focus {
      border-color: rgba($color--navyblue, 0.65);
    }

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
