.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: $color--smoke;
  box-shadow: $shadow-subtle;
  transition: height 0.3s ease;
  border-radius: 8px;
  width: 100%;

  @include viewport_mq2 {
    width: 400px;
    padding: 24px;
  }

  &__logo {
    width: 150px;
    height: 150px;
    margin-bottom: 36px;
  }

  &__label {
    align-self: flex-start;
    font-size: 0.9rem;
    margin: 16px 0 6px 2px;
  }

  &__input {
    width: 100%;

    &:not(:first-of-type) {
      margin-top: 16px;
    }
  }

  &__image-uploader {
    width: 100%;
  }

  &__submit {
    @include button-big($color--green);

    color: white;
    box-shadow: $shadow-subtle;
    margin-top: 16px;
    width: 100%;
    font-size: 1rem;
  }

  &__register-text {
    margin-top: 8px;
    align-self: flex-start;
  }

  &__register-link {
    font-weight: bold;
    margin-left: 4px;
    color: $color--green;
    cursor: pointer;
  }

  &__error {
    color: $color--red;
    max-width: 300px;
    margin-bottom: 12px;
    padding: 8px;
    border-radius: 6px;
    background-color: $color--red-25;
  }
}
