.creation-overlay {
  &__wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);

    @include viewport_mq3 {
      left: 70px;
    }
  }

  &__side-wrapper {
    margin-top: 8px;
    display: flex;
    justify-content: space-evenly;
  }

  &__side-badge {
    width: 64px;
    height: 64px;
    opacity: 0.4;
    cursor: pointer;
    border-radius: 50%;
    transition: opacity 0.3s ease;

    &.-selected {
      opacity: 1;
    }
  }

  &__btn-submit,
  &__btn-cancel {
    text-transform: uppercase;
    color: white;
    border-radius: 2px;
    padding: 4px 8px;
    letter-spacing: 1px;
    font-size: 0.9em;
    width: 64px;
    height: 32px;
    transition: background-color 0.2s ease;
    cursor: pointer;
  }

  &__btn-wrapper {
    margin-top: 6px;
    display: flex;
    justify-content: flex-end;
    transform: translateY(10px);
  }

  &__btn-submit {
    background-color: $color--green;
    margin-left: 12px;
    &:hover {
      background-color: darken($color--green, 10%);
    }
  }
  &__btn-cancel {
    background-color: $color--red;
    &:hover {
      background-color: darken($color--red, 15%);
    }
  }

  &__form {
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    background-color: $color--smoke;
  }

  &__fieldset {
    padding: 16px;
    box-shadow: $shadow-subtle;
    background-color: white;
    &:not(:first-of-type) {
      margin-top: 12px;
    }

    border-radius: 8px;
  }

  &__label {
    font-size: 1em;
    display: block;
    &:not(:first-of-type) {
      margin-top: 12px;
    }
    transition: color 0.2s ease;
    &.-invalid {
      color: $color--red;
    }
  }

  &__radio-label {
    &:not(:first-of-type) {
      margin-left: 12px;
    }
    padding: 3px 5px;
    border-radius: 4px;
    font-variant: small-caps;
    font-size: 1.1em;
    transform: scaleY(0.8);
    cursor: pointer;
    background-color: rgba($color--grey, 0.5);
    transition: background-color 0.3s ease;
    text-align: center;
    min-width: 68px;
    font-family: $font_fjallaone-regular;

    &[for='BUYROUND'].-selected {
      background-color: $color--blue;
    }
    &[for='PISTOL'].-selected {
      background-color: $color--yellow;
    }
    &[for='FORCE'].-selected {
      background-color: $color--red;
    }
  }

  &__radio-wrapper {
    margin-top: 12px;
  }

  &__input {
    @include input_default;

    margin-top: 6px;

    &.-invalid {
      border: 3px solid $color--red;
    }
  }

  &__radio {
    cursor: pointer;
    &:not(:first-of-type) {
      margin-left: 12px;
    }
    display: none;
  }
}
