.text-input {
  $root: &;
  position: relative;

  &__input {
    @include input-default(true);

    width: 100%;

    &.-error {
      border-color: var(--color-red);
    }

    &:focus,
    &.-has-content {
      & + #{$root}__label {
        font-size: 0.6rem;
        top: 7px;

        @include viewport_mq3 {
          font-size: 0.65rem;
        }

        @include viewport_mq7 {
          font-size: 0.7rem;
        }
      }
    }
  }

  &__label {
    position: absolute;
    top: 16px;
    left: 12px;
    pointer-events: none;
    transition: all 0.3s ease;
    opacity: 0.7;
    font-size: 0.9rem;

    @include viewport_mq3 {
      font-size: 0.95rem;
    }

    @include viewport_mq7 {
      font-size: 1rem;
    }
  }

  &__error {
    position: absolute;
    top: 7px;
    right: 12px;
    pointer-events: none;
    opacity: 0.7;
    font-size: 0.6rem;
    color: var(--color-red);
    max-width: 160px;
    text-align: right;

    @include viewport_mq3 {
      font-size: 0.65rem;
      max-width: 220px;
    }

    @include viewport_mq7 {
      font-size: 0.7rem;
    }
  }
}
