.strat-filter-form {
  display: flex;
  flex-direction: column;

  &__input {
    @include input-default;
  }

  &__label {
    @include spacing('margin-bottom', '2xs');

    font-size: 1.1rem;

    &:not(:first-of-type) {
      @include spacing('margin-top', 'sm');
      @include spacing('padding-top', 'sm');

      border-top: 1px solid $color--grey;
    }
  }

  &__picker {
    @include spacing('margin-top', '2xs');
  }

  &__checkbox {
    @include spacing('margin-top', 's');
  }
}
