head
    link(rel="stylesheet", href="/style.css", data-inline)
body
    .content
        p.text Click the link below to verify your new email address.
        a(href=link) verify account
        p.link-info If the above button doesn't work, copy the link below instead.
        p.link #{link}