.strat-editor {
  &__editor {
    @include typo_text;

    user-select: text;
    transition: box-shadow 0.3s ease;
    border-radius: 6px;
    padding: 8px 12px;
    color: var(--color-text);
    background-color: var(--color-bg);
    font-size: 1.1rem;
    line-height: 1.8rem;

    &:focus {
      box-shadow: $shadow-subtle, $shadow-subtle;
    }

    @include viewport_mq3 {
      padding: 10px 18px;
    }

    // * fixes most of the firefox bug that prevents cursor being placed at arbitrary position.
    & * {
      user-select: text;
    }

    & > div {
      line-height: 1.8em;
    }
  }

  &__tag {
    border-radius: 3px;
    padding: 3px 5px;
    font-weight: $weight-bold;
    font-size: 1rem;
    color: var(--color-text-secondary);
    transition: background-color 0.3s ease-out;
    white-space: nowrap;
    background-color: var(--color-bg-secondary);

    & &.--mention {
      background-color: var(--color-accent);
      color: var(--color-text-contrast);
    }

    &.--utility,
    &.--weapon {
      background-color: var(--color-accent);
      color: var(--color-text-contrast);

      // TODO: create icons in white instead
      & > img {
        filter: invert(1);
        opacity: 1;
      }
    }

    &.--timestamp {
      background-color: var(--color-blue);
      color: var(--color-text-contrast);

      & > img {
        width: 16px;
        height: 16px;
        transform: translateY(2px);
        margin-right: 4px;
      }
    }

    &[data-util-id] {
      cursor: pointer;
      padding-right: 16px;
      position: relative;

      &.-linked {
        &::after {
          background-color: var(--color-green);
        }
      }

      &::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        right: 6px;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--color-yellow);
      }
    }
  }

  &__tag-img {
    width: 20px;
    height: 20px;
    opacity: 0.7;
    margin-right: 2px;
    margin-left: -1px;
    transform: translateY(4px);
  }

  &__mention-item {
    @include typo_emphasis;

    padding: 12px;
    color: var(--color-text);
    cursor: pointer;
    display: flex;
    align-items: center;

    &:not(:first-of-type) {
      border-top: 1px solid var(--color-border);
    }
    &:first-of-type {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    &:last-of-type {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    &.-no-match {
      font-weight: $weight-regular;
    }
  }

  &__mention-container {
    background-color: var(--color-bg-secondary);
    box-shadow: $shadow-subtle;
    border-radius: 6px;

    & li:not([data-index]) {
      display: none;
    }
  }

  &__mention-selected {
    background-color: var(--color-bg-tertiary);
  }

  &__mention-item-image {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  &__arrow {
    color: $color--emperor;
  }
}

[placeholder]:empty::before {
  content: attr(placeholder);
  color: $color--grey;
  cursor: text;
}

[placeholder]:empty:focus::before {
  content: '';
}
