.strat-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 8px;

  @include viewport_mq7 {
    gap: 12px;
    width: 400px;
  }

  &__btn-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }

  &__btn {
    &.--submit {
      @include button-primary;
      @include viewport_range(mq1, mq3) {
        @include button-primary(true, true);
      }
    }
    &.--cancel {
      @include button-default;
      @include viewport_range(mq1, mq3) {
        @include button-default(true, true);
      }
    }
  }

  &__label {
    font-size: 1rem;
    margin-bottom: 12px;
    transition: color 0.2s ease;
  }
}
