doctype=html
html
    head
        title CSStratbook
        link(href='/public/css/style.css', rel='stylesheet', type='text/css')
    body
        .container
            img(src='/public/img/logo_dark.png', class='logo')
            h1.headline Failure
            p.text An error has occurred and your email has not been confirmed.

