doctype=html
html
    head
        title CSStratbook
        link(href='/public/css/style.css', rel='stylesheet', type='text/css')
    body
        .container
            img(src='/public/img/logo_white.png', class='logo')
            h1.headline Success
            p.text Your email has been confirmed. <br> You can now close this window and login inside the app.

