.sketch-tool {
  width: 100%;
  height: 100%;
  position: relative;

  &__strat-name {
    @include typo_hl1;
    @include spacing('left', sm);
    @include spacing('top', sm);

    position: absolute;
    color: white;
    z-index: 1;
    pointer-events: none;
  }

  &__stage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    &.-brush {
      cursor: none;
    }
    &.-pan {
      cursor: grab;
    }
    &.-pointer {
      cursor: default;
    }
    &.-text {
      cursor: text;
    }
    background: #29323c;
    //background-image: linear-gradient(60deg, #29323c 0%, #20242a 100%);
  }
  &__btn {
    @include button-default(white, $color--navyblue, false);
    @include slideFromY(10%, 7, 'tool');

    & > svg {
      transition: color 0.2s ease;
      width: 20px;
      height: 20px;
    }

    &.-active {
      & > svg {
        color: $color--green;
      }
    }
  }

  &__btn-label {
    display: none;
    margin-left: 6px;
    font-size: 0.9rem;

    @include viewport_mq5 {
      display: inline;
    }
  }

  &__draggables-bar {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background: rgba(white, 0.1);
    backdrop-filter: blur(4px);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &__toolbar {
    @include spacing('padding', '2xs xs');

    background: rgba($color--darkblue, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;

    & > :not(:first-child) {
      margin-left: 12px;
    }
  }

  &__color-picker {
    margin-right: 24px;
  }

  &__draggable {
    @include spacing('padding', '2xs 2xs');
    &.-anim {
      @include slideFromX(10%, 6, 'draggable');
    }

    filter: invert(1) drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));
    transition: 0.3s transform ease, 0.3s filter ease;
    cursor: grab;

    &:hover {
      transform: scale(1.1) translateX(-8px) rotate(-10deg);
      filter: invert(1) drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.6));
    }

    & > img {
      width: 42px;
      height: 42px;

      @include viewport_mq6 {
        width: 48px;
        height: 48px;
      }
    }
  }

  &__textbox {
    @include spacing('padding', '3xs 2xs');
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(white, 0.7);
    font-family: 'Calibri';
    white-space: nowrap;
    transform-origin: left center;
  }

  &__keymaps-bar {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background: rgba(white, 0.1);
    backdrop-filter: blur(4px);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    // width: 150px;
    padding: 12px;
  }

  &__keymap {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:not(:first-child) {
      @include spacing('margin-top', xs);
    }

    @include slideFromX(-10%, 6, 'keymap');
  }

  &__keymap-label {
    @include spacing('margin-left', xs);

    color: white;
  }

  &__key-inner {
    height: 100%;
    width: 100%;
    background: $color--navyblue;
    border-radius: 2px;
    font-weight: bold;
    font-size: 0.7rem;
    line-height: 13px;
    color: white;
    padding-left: 4px;
    padding-top: 2px;
  }

  &__key-outer {
    width: 34px;
    height: 32px;
    background: $color--darkblue;
    border-radius: 2px;
    padding: 2px 6px 4px 3px;
    text-align: left;
    border: 0px solid rgba(0, 0, 0, 0);
    cursor: pointer;

    &:not(:first-of-type) {
      margin-left: 8px;
    }

    &--mid {
      width: 55px;
    }

    &--large {
      width: 70px;
    }

    &:hover {
      .sketch-tool__key-inner {
        background: lighten($color--navyblue, 5%);
      }
    }
  }

  &__clients {
    position: absolute;
    left: 24px;
    bottom: 96px;
    display: flex;
    flex-direction: column;
  }

  &__client {
    display: flex;
    align-items: center;
    color: white;

    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  &__client-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 12px;
  }
}
