.sketch-tool {
  width: 100%;
  height: 100%;
  position: relative;

  &__strat-name {
    @include typo_hl1;

    position: absolute;
    top: 12px;
    left: 12px;
    color: white;
    z-index: 1;
  }

  &__stage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    &.-brush {
      cursor: crosshair;
    }
    &.-pan {
      cursor: grab;
    }
    &.-pointer {
      cursor: default;
    }
    &.-text {
      cursor: text;
    }

    background-image: linear-gradient(60deg, #29323c 0%, #20242a 100%);
  }
  &__btn {
    @include button-default(white, $color--navyblue, false);

    & > svg {
      transition: color 0.2s ease;
      width: 20px;
      height: 20px;
    }

    &.-active {
      & > svg {
        color: $color--green;
      }
    }
  }

  &__btn-label {
    display: none;
    margin-left: 6px;
    font-size: 0.9rem;

    @include viewport_mq3 {
      display: inline;
    }
  }

  &__draggables-bar {
    //@include spacing('padding', '0 3xs');

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background: rgba($color--darkblue, 0.5);

    // & > :not(:first-child) {
    //   margin-top: 12px;
    // }
  }

  &__toolbar {
    @include spacing('padding', '2xs xs');

    background: rgba($color--darkblue, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    & > :not(:first-child) {
      margin-left: 12px;
    }
  }

  &__color-picker {
    margin-right: 24px;
  }

  &__draggable {
    @include spacing('padding', 'xs 2xs');

    filter: invert(1) drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));
    transition: 0.3s transform ease, 0.3s filter ease;
    cursor: grab;

    &:hover {
      transform: scale(1.1) translateX(-8px) rotate(-10deg);
      filter: invert(1) drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.6));
    }

    & > img {
      width: 52px;
      height: 52px;
    }
  }

  &__textbox {
    @include spacing('padding', '3xs 2xs');
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(white, 0.7);
    font-family: 'Calibri';
    white-space: nowrap;
  }
}
