.sketch-tool {
  width: 100%;
  height: 100%;
  position: relative;

  &__strat-name {
    @include typo_hl1;
    @include spacing('left', sm);
    @include spacing('top', sm);

    position: absolute;
    color: var(--color-text-contrast);
    z-index: 1;
    pointer-events: none;
  }

  &__stage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    &.-brush {
      cursor: none;
    }
    &.-pan {
      cursor: grab;
    }
    &.-pointer {
      cursor: default;
    }
    &.-text {
      cursor: text;
    }
    background: #29323c;
    //background-image: linear-gradient(60deg, #29323c 0%, #20242a 100%);
  }
  &__btn {
    @include button-default(false);
    @include slideFromY(10%, 10, 'tool');

    & > svg {
      transition: color 0.2s ease;
      width: 20px;
      height: 20px;
    }

    &.-active {
      & > svg {
        color: var(--color-green);
      }
    }
  }

  &__btn-label {
    display: none;
    margin-left: 6px;
    font-size: 0.9rem;

    @include viewport_mq5 {
      display: inline;
    }
  }

  &__draggables-bar {
    @include blurry-bg;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &__toolbar {
    @include spacing('padding', '2xs s');
    @include spacing('gap', xs);

    background: var(--color-bg-contrast-50);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;

    @include viewport_range(mq1, mq2) {
      @include spacing('gap', '3xs');
    }

    @include viewport_range(mq1, mq2) {
      @include spacing('padding', '3xs');
    }
  }

  &__color-picker {
    margin-right: 24px;

    @include viewport_range(mq1, mq2) {
      @include spacing('margin-right', '2xs');
    }
  }

  &__draggable {
    @include spacing('padding', 'xs xs');

    &.-anim {
      @include slideFromX(10%, 6, 'draggable');
    }

    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));
    transition: 0.3s transform ease, 0.3s filter ease;
    cursor: grab;
    color: white;

    &:hover {
      transform: scale(1.1) translateX(-8px) rotate(-10deg);
      filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.6));
    }

    & svg {
      width: 24px;
      height: 24px;

      @include viewport_mq3 {
        width: 36px;
        height: 36px;
      }

      @include viewport_mq6 {
        width: 42px;
        height: 42px;
      }
    }

    @include viewport_range(mq1, mq2) {
      @include spacing('padding', '3xs 3xs');
    }
  }

  &__textbox {
    @include spacing('padding', '3xs 2xs');
    @include typo_text;
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(white, 0.7);
    white-space: nowrap;
    transform-origin: left center;
  }

  &__left-container {
    @include blurry-bg;
    @include spacing('padding', 's');

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    @include viewport_range(mq1, mq2) {
      display: none;
    }
  }

  &__keymaps-bar {
    @include spacing('gap', s);
    @include spacing('margin-bottom', 'md');

    display: flex;
    flex-direction: column;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  &__keymap {
    @include slideFromX(-10%, 6, 'keymap');
    @include spacing('gap', s);

    display: flex;
    align-items: center;
    cursor: pointer;

    @include viewport_range(mq1, mq2) {
      @include spacing('gap', '3xs');

      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__keymap-label {
    color: var(--color-text-contrast);

    @include viewport_range(mq1, mq2) {
      font-size: 0.8rem;
    }
  }

  &__key-inner {
    height: 100%;
    width: 100%;
    background: $color--navyblue;
    border-radius: 2px;
    font-weight: bold;
    font-size: 0.7rem;
    line-height: 13px;
    color: var(--color-text-contrast);
    padding-left: 4px;
    padding-top: 2px;

    @include viewport_range(mq1, mq2) {
      font-size: 0.6rem;
    }
  }

  &__key-outer {
    width: 34px;
    height: 32px;
    background: $color--darkblue;
    border-radius: 2px;
    padding: 2px 6px 4px 3px;
    text-align: left;
    border: 0px solid rgba(0, 0, 0, 0);
    cursor: pointer;

    @include viewport_range(mq1, mq2) {
      width: 28px;
      height: 26px;
    }

    &:not(:first-of-type) {
      margin-left: 8px;
    }

    &--mid {
      width: 55px;
    }

    &--large {
      width: 70px;
    }

    &:hover {
      .sketch-tool__key-inner {
        background: lighten($color--navyblue, 5%);
      }
    }
  }

  &__clients {
    @include spacing('gap', 's');

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
  }

  &__client {
    display: flex;
    align-items: center;
    color: var(--color-text-contrast);

    @include viewport_range(mq1, mq2) {
      font-size: 0.8rem;
    }
  }

  &__client-dot,
  &__context-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 12px;
  }

  &__context-dot {
    background: var(--color);
  }

  &__clients-headline {
    @include typo_hl3;
    @include spacing('margin-bottom', 's');

    color: var(--color-text-contrast);

    @include viewport_range(mq1, mq2) {
      font-size: 0.8rem;
    }
  }
}

.vue-swatches__trigger {
  transition: background-color 0.3s ease;
}
