.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__headline {
    @include typo_hl1;

    font-size: 10rem;
    color: var(--color-text-secondary);
  }
  &__subline {
    @include typo_hl1;

    color: var(--color-text-tertiary);
  }
}
