.map-picker {
  width: 100%;

  &__container {
    display: flex;
    background: white;
    box-shadow: $shadow-subtle;
    padding: 12px;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;

    @include viewport_mq3 {
      justify-content: flex-start;
      padding: 20px;
    }
  }

  &__map {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 0 5px;

    &:hover {
      background-color: $color--smoke;
    }

    &.-current {
      background-color: $color--smoke;
      .map-picker__image {
        transform: scale3d(1.05, 1.05, 1.05);
      }
    }

    @include viewport_mq3 {
      padding: 15px;
    }
  }

  &__image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid $color--smoke;
    transition: all 0.3s ease;

    @include viewport_mq3 {
      width: 100px;
      height: 100px;
      border-width: 5px;
    }
  }

  &__label {
    margin-top: 10px;
    font-weight: $weight-bold;
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 2px 5px;
    background-color: $color--smoke;
    transition: all 0.3s ease;

    @include viewport_mq3 {
      font-size: 1rem;
    }
  }
}
