.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: var(--color-bg-secondary);
  box-shadow: $shadow-subtle;
  transition: height 0.3s ease;
  border-radius: 8px;
  width: 100%;

  &__separator {
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--color-text-secondary);
    margin-bottom: 1rem;

    &::before,
    &::after {
      flex: 1;
      content: '';
      height: 1px;
      background-color: var(--color-border);
      margin: 5px;
    }
  }

  @include viewport_mq3 {
    width: 320px;
    padding: 24px;
  }

  &__logo {
    width: 130px;
    height: 130px;
    object-fit: contain;
    margin-bottom: 12px;

    @include viewport_mq3 {
      width: 150px;
      height: 150px;
      margin-bottom: 16px;
    }
  }

  &__title {
    margin-bottom: 16px;
    @include typo_hl2;

    @include viewport_mq3 {
      margin-bottom: 24px;
    }
  }

  &__label {
    font-size: 1em;
    display: block;
    &:not(:first-of-type) {
      margin-top: 12px;
    }
    transition: color 0.2s ease;
  }

  &__input {
    width: 100%;

    &:not(:first-of-type) {
      margin-top: 16px;
    }
  }

  &__submit {
    @include button-primary(true);

    box-shadow: $shadow-subtle;
    margin-top: 16px;
    width: 100%;
    font-size: 1rem;
  }

  &__register-text {
    margin-top: 8px;
    align-self: flex-start;
  }

  &__register-link {
    font-weight: bold;
    margin-left: 4px;
    color: var(--color-green);
    cursor: pointer;
  }

  &__forgot-password {
    align-self: flex-start;
    cursor: pointer;
    color: var(--color-text-secondary);
    margin-top: 4px;
    transform: translateY(4px);
    transition: color 0.3s ease;
    font-size: 0.85rem;

    &:hover {
      color: var(--color-text);
    }
  }

  &__error {
    @include error-notification;
  }

  &__steam {
    cursor: pointer;

    transition: filter 0.3s ease;

    &:hover,
    &:active,
    &:focus {
      filter: brightness(1.2);
    }
  }

  &__steam-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 8px;
  }
}
