.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  background-color: $color--smoke;
  box-shadow: $shadow-subtle;
  transition: height 0.3s ease;
  border-radius: 8px;
  width: 100%;

  @include viewport_mq2 {
    width: 320px;
  }

  &__logo {
    width: 150px;
    height: 150px;
    margin-bottom: 48px;
  }

  &__label {
    font-size: 1em;
    display: block;
    &:not(:first-of-type) {
      margin-top: 12px;
    }
    transition: color 0.2s ease;
  }

  &__input {
    width: 100%;

    &:not(:first-of-type) {
      margin-top: 16px;
    }
  }

  &__submit {
    @include button-big($color--green);

    color: white;
    box-shadow: $shadow-subtle;
    margin-top: 16px;
    width: 100%;
    font-size: 1rem;
  }

  &__register-text {
    margin-top: 8px;
    align-self: flex-start;
  }

  &__register-link {
    font-weight: bold;
    margin-left: 4px;
    color: $color--green;
    cursor: pointer;
  }

  &__forgot-password {
    align-self: flex-start;
    cursor: pointer;
    color: $color--grey;
    margin-top: 4px;
    transform: translateY(4px);
    transition: color 0.3s ease;
    font-size: 0.85rem;

    &:hover {
      color: darken($color--grey, 10%);
    }
  }

  &__error {
    color: $color--red;
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
    padding: 8px;
    border-radius: 6px;
    background-color: $color--red-25;
  }
}
