.floating-button {
  background-color: var(--color-green);
  border-radius: 999px; // * some high value to ensure pill shape when long, and circle when short
  width: 48px;
  height: 48px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease, width 0.2s ease;
  border: 2px solid var(--color-text-contrast);

  @include viewport_mq4 {
    width: auto;
    padding: 0 10px;
  }

  &:hover {
    transform: scale(1.03);
    background-color: darken($color--green, 15%);
  }

  &__icon {
    width: 28px;
    height: 28px;
    color: var(--color-text-contrast);
  }

  &__label {
    display: none;
    color: var(--color-text-contrast);
    margin-left: 6px;

    @include viewport_mq4 {
      display: block;
    }
  }
}
