.join-team-view {
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    @include view-content;

    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include viewport_mq3 {
      min-height: unset;
    }

    @include viewport_mq5 {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }

    > *:not(:first-child) {
      margin-top: 16px;

      @include viewport_mq5 {
        margin-top: 0;
        margin-left: 24px;
      }
    }
  }
}
