.strat-item {
  background-color: var(--color-bg-secondary);
  box-shadow: $shadow-subtle;
  padding: 0 12px 6px 12px;
  border-radius: 10px;

  border: 2px solid var(--color-border);
  transition: grid-template-rows 0.3s ease-out;
  display: grid;
  grid-template-rows: 1fr;

  &.-inactive {
    border: 2px dashed var(--color-border);
    opacity: 0.5;
  }

  &.-collapsed {
    grid-template-rows: 0fr;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    min-height: 45px;
  }

  @include viewport_mq3 {
    padding: 0px 20px 6px 20px;
  }

  &__title {
    font-size: 1.2em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__title-wrapper {
    flex: 1;
    min-width: 0;
  }

  &__inactive-label {
    color: var(--color-text-secondary);
    text-decoration: none;
    font-size: 0.9rem;
    margin-left: 6px;
  }

  &__note {
    margin-top: -6px;
    margin-bottom: 8px;
    font-style: italic;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    color: var(--color-text-secondary);
    opacity: 0.6;
    margin-left: 2px;
    opacity: 1;
    transition: opacity 0.3s ease;

    .-collapsed & {
      opacity: 0;
    }

    & > svg {
      width: 14px;
      height: 14px;
      margin-right: 8px;
    }
  }

  &__editor {
    width: 100%;
    opacity: 1;
    transition: opacity 0.3s ease;

    &.-blinking {
      outline: 2px solid var(--color-red);
      animation: pulse-outline 2s infinite;
    }

    .-collapsed & {
      opacity: 0;
    }
  }

  &__header {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 0;
  }

  &__types-wrapper {
    @include spacing('gap', xs);

    display: flex;
    margin-left: auto;
  }

  &__side {
    @include spacing('margin-left', xs);
  }

  &__type,
  &__side {
    opacity: 0.6;
    width: 36px;
    height: 36px;
  }

  &__deletion {
    margin-left: 12px;
    display: flex;
    align-items: center;
    margin-right: 4px;
  }

  &__btn-wrapper {
    @include spacing('gap', '2xs');
    @include spacing('margin-top', '2xs');

    margin-bottom: 1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__edit-buttons {
    @include spacing('gap', '2xs');

    display: flex;
  }

  &__action-buttons {
    @include spacing('gap', '2xs');

    display: flex;

    padding-right: 8px;
    border-right: 1px solid var(--color-text-tertiary);

    @include viewport_mq3 {
      padding-right: 12px;
      margin-right: 4px;
    }
  }

  &__btn {
    cursor: pointer;
    width: 28px;
    height: 28px;
    padding: 4px;
    background-color: var(--color-bg);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow-subtle;

    & > svg {
      width: 18px;
      height: 18px;
    }

    &.--insert {
      margin-right: auto;
    }

    &.--save {
      @include viewport_mq3 {
        width: 70px;
      }
    }

    &.--discard {
      @include viewport_mq3 {
        width: 90px;
      }
    }

    &.-active {
      box-shadow: 0 0 2px var(--color-green);
      & > svg > path {
        fill: var(--color-green);
      }
    }

    &.--save,
    &.--discard {
      & > span {
        display: none;

        @include viewport_mq3 {
          display: inline;
        }
      }

      @include viewport_mq3 {
        & > svg {
          margin-right: 4px;
        }
      }
    }
  }

  &__drag-icon {
    padding: 16px 4px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 48px;
    color: var(--color-text-secondary);
    cursor: grab;
  }

  &__labels {
    display: flex;
    align-items: center;
  }

  &__label {
    padding: 4px 8px;
    border-radius: 999px;
    background: var(--color-border);
    color: var(--color-text);
    min-width: 36px;
    font-size: 0.8rem;

    &.--add {
      cursor: pointer;

      & svg {
        width: 8px;
        height: 8px;
      }
    }
  }
}
