.strat-item {
  background-color: $color--smoke;
  box-shadow: $shadow-subtle;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid $color--navyblue-50;
  min-height: 132px;

  &.-inactive {
    border: 2px dashed $color--navyblue-50;
    opacity: 0.5;
  }

  @include viewport_mq3 {
    padding: 12px 20px;
  }

  &__title {
    font-size: 1.2em;
    font-weight: bold;
    display: inline;
  }

  &__inactive-label {
    color: rgba($color--navyblue, 0.7);
    text-decoration: none;
    font-size: 0.9rem;
    margin-left: 6px;
  }

  &__note {
    margin-top: 6px;
    font-style: italic;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    color: $color--abbey;
    opacity: 0.6;
    margin-left: 2px;

    & > svg {
      width: 14px;
      height: 14px;
      margin-right: 8px;
    }
  }

  &__editor {
    margin-bottom: 30px;
    margin-top: 8px;
    width: 100%;
    @include viewport_mq3 {
      width: calc(100% - 48px);
    }
  }

  &__type {
    position: absolute;
    right: 12px;
    top: 5px;

    @include viewport_mq3 {
      right: 16px;
      top: 56px;
    }
  }

  &__side {
    position: absolute;
    right: 0;
    top: 50%;
    width: 28px;
    height: 64px;
    opacity: 0.3;
    object-position: left;
    object-fit: cover;
    transform: translateY(-50%);

    @include viewport_mq3 {
      opacity: 0.6;
      right: 16px;
      top: 12px;
      width: 36px;
      height: 36px;
      transform: none;
    }
  }

  &__deletion {
    margin-left: 12px;
    display: flex;
    align-items: center;
    margin-right: 4px;
  }

  &__btn-wrapper {
    position: absolute;
    bottom: 4px;
    right: 16px;
    display: flex;
    align-items: center;

    :not(:first-child) {
      margin-left: 8px;
    }
  }

  &__action-buttons {
    display: flex;

    padding-right: 12px;
    margin-right: 4px;
    border-right: 1px solid $color--grey;
  }

  &__btn {
    //@include tooltip;
    cursor: pointer;
    width: 28px;
    height: 28px;
    padding: 4px;
    transition: color 0.3s ease;
    background-color: lighten($color--navyblue-50, 15%);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: lighten($color--navyblue, 15%);
    }

    & > svg {
      width: 18px;
      height: 18px;
    }

    &.--save {
      width: 70px;

      & > svg {
        margin-right: 4px;
      }
    }

    &.--share {
      &.-shared {
        box-shadow: 0 0 2px $color--green;
        & > svg > path {
          fill: $color--green;
        }
      }
    }

    &.--discard {
      width: 90px;

      & > svg {
        margin-right: 4px;
      }
    }
  }
}
