.strat-item {
  background-color: $color--smoke;
  box-shadow: $shadow-subtle;
  padding: 0 12px 6px 12px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid rgba($color--navyblue, 0.5);
  transition: height 0.3s ease-out;
  overflow: hidden;

  &.-inactive {
    border: 2px dashed rgba($color--navyblue, 0.5);
    opacity: 0.5;
  }

  @include viewport_mq3 {
    padding: 0px 20px 6px 20px;
  }

  &__title {
    font-size: 1.2em;
    font-weight: bold;
    display: inline;
  }

  &__title-wrapper {
    margin-top: 6px;
  }

  &__inactive-label {
    color: rgba($color--navyblue, 0.7);
    text-decoration: none;
    font-size: 0.9rem;
    margin-left: 6px;
  }

  &__note {
    margin-top: 6px;
    font-style: italic;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    color: $color--abbey;
    opacity: 0.6;
    margin-left: 2px;
    opacity: 1;
    transition: opacity 0.3s ease;

    .-collapsed & {
      opacity: 0;
    }

    & > svg {
      width: 14px;
      height: 14px;
      margin-right: 8px;
    }
  }

  &__editor {
    width: 100%;
    opacity: 1;
    transition: opacity 0.3s ease;

    &.-blinking {
      outline: 2px solid $color--red;
      animation: pulse-outline 2s infinite;
    }

    .-collapsed & {
      opacity: 0;
    }
  }

  &__header {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    padding: 8px 0;
  }

  &__types-wrapper {
    @include spacing('gap', xs);

    display: flex;
    margin-left: auto;
  }

  &__side {
    @include spacing('margin-left', xs);
  }

  &__type,
  &__side {
    opacity: 0.6;
    width: 36px;
    height: 36px;
  }

  &__deletion {
    margin-left: 12px;
    display: flex;
    align-items: center;
    margin-right: 4px;
  }

  &__btn-wrapper {
    @include spacing('gap', '2xs');
    @include spacing('margin-top', '2xs');

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__edit-buttons {
    @include spacing('gap', '2xs');

    display: flex;
  }

  &__action-buttons {
    @include spacing('gap', '2xs');

    display: flex;

    padding-right: 8px;
    border-right: 1px solid $color--grey;

    @include viewport_mq3 {
      padding-right: 12px;
      margin-right: 4px;
    }
  }

  &__btn {
    cursor: pointer;
    width: 28px;
    height: 28px;
    padding: 4px;
    transition: color 0.3s ease;
    background-color: rgba($color--navyblue, 0.3);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: lighten($color--navyblue, 15%);
    }

    & > svg {
      width: 18px;
      height: 18px;
    }

    &.--insert {
      margin-right: auto;
    }

    &.--save {
      @include viewport_mq3 {
        width: 70px;
      }
    }

    &.--discard {
      @include viewport_mq3 {
        width: 90px;
      }
    }

    &.-active {
      box-shadow: 0 0 2px $color--green;
      & > svg > path {
        fill: $color--green;
      }
    }

    &.--share {
    }

    &.--save,
    &.--discard {
      & > span {
        display: none;

        @include viewport_mq3 {
          display: inline;
        }
      }

      @include viewport_mq3 {
        & > svg {
          margin-right: 4px;
        }
      }
    }
  }
}
