.image-uploader {
  &__preview {
    display: flex;
    margin-top: 12px;
    align-items: flex-start;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 90px;

    @include viewport_mq7 {
      height: 120px;
    }
  }

  &__image {
    object-fit: cover;
    border-radius: 4px;
    width: 150px;
    height: 75px;

    @include viewport_mq7 {
      height: 100px;
    }
  }

  &__preview-item {
    background-color: var(--color-bg-secondary);
    position: relative;
    height: 75px;

    @include viewport_mq7 {
      height: 100px;
    }

    &:not(:first-of-type) {
      margin-left: 12px;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba($color--dark, 0.2);
    color: var(--color-bg);
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 2px;

    &:hover {
      color: $color--dark;
      background-color: rgba($color--light, 0.5);
    }
  }

  &__preview-placeholder {
    @include abs-center;
    opacity: 1;
    transition: opacity 0.3s ease;
    color: rgba($color--navyblue, 0.3);

    &.-has-content {
      opacity: 0;
    }
  }

  &__input {
    position: relative;
    cursor: pointer;
    height: 40px;
    width: 100%;

    & > span {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 2.5rem;
      padding: 0.5rem 1rem;
      line-height: 1.5;
      color: #555;
      background-color: var(--color-bg);
      border: 2px solid rgba($color--navyblue, 0.2);
      border-radius: 0.25rem;
      box-shadow: $shadow-subtle;
      user-select: none;
      cursor: pointer;
      transition: border-color 0.3s ease;

      &:hover {
        border-color: rgba($color--navyblue, 0.4);
        &:before {
          background-color: #ddd;
          border-color: rgba($color--navyblue, 0.4);
        }
      }

      &:before {
        position: absolute;
        top: -2px;
        right: -2px;
        border: 2px solid rgba($color--navyblue, 0.2);
        border-left: none;
        bottom: -2px;
        content: 'Browse';
        padding: 0.5rem 1rem;
        line-height: 1.5;
        color: #555;
        background-color: $color--light;
        border-radius: 0 0.25rem 0.25rem 0;
        transition: background-color 0.3s ease, border-color 0.3s ease;
      }

      &:after {
        content: attr(file-input-value);
        max-width: 100px;
        white-space: nowrap;
      }
    }
  }
}
