.imprint-view {
  &__content {
    background-color: var(--color-bg-secondary);
    padding: 24px;
    border-radius: 8px;
    margin: 12px;
  }

  &__headline {
    @include typo_hl2;

    margin-bottom: 24px;
  }
}
