.labels-dialog {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 300px;

  &__hint {
    font-size: 0.8rem;
    color: var(--color-text-secondary);
    margin-left: 6px;
  }

  &__list-container {
    background: var(--color-bg);
    border-radius: 4px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__label-list {
    display: flex;
    gap: 6px;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__label {
    @extend %label;

    &:hover {
      & > svg {
        opacity: 1;
        scale: 1;
      }
    }

    & > svg {
      transition: opacity 0.3s ease, scale 0.3s ease;
      width: 12px;
      height: 12px;
      scale: 0.9;
      opacity: 0.4;
    }
  }

  &__add-label-input {
    background: var(--color-bg-secondary);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 4px 8px;
    color: var(--color-text);
    font-size: 0.8rem;
    width: 100%;
  }

  &__input-wrapper {
    position: relative;
    width: 150px;
  }

  &__add-btn {
    & > svg {
      width: 12px;
      height: 12px;
    }
    width: 18px;
    height: 18px;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-text);
    cursor: pointer;
  }

  &__close {
    @include button-default;
    align-self: flex-end;
  }
}
