.strats-view {
  &__fab-group {
    display: flex;
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 10;

    & > :not(:first-of-type) {
      margin-left: 8px;
    }

    // TODO: improve mobile layout of this
    @include viewport_only(mq1) {
      @include flex-gap(4px);
      flex-wrap: wrap;
      max-width: calc(100% - 100px);
      justify-content: flex-start;
      flex-direction: row-reverse;
    }

    @include viewport_mq3 {
      right: 34px;
    }
  }

  &__floating-add {
    background-color: var(--color-green-80);

    &:hover {
      background-color: var(--color-green);
    }
  }

  &__floating-game-mode {
    @include viewport_range(mq1, mq2) {
      display: none;
    }
  }

  &__strat-list {
    margin-top: 24px;

    &.-game-mode {
      margin-top: 0;
    }
  }
}
