$color--dark: #383838;
$color--light: #eeeeee;
$color--light-active: #d9d9d9;
$color--red: #ff8484;
$color--red-75: #ff848475;
$color--red-25: #ff848425;
$color--green: #41b883;
$color--green-75: #66d26375;
$color--green-25: #66d26325;
$color--yellow: #fcfda2;
$color--grey: #b6b6b6;
$color--darkblue: #23232e;
$color--black: #141418;
$color--blue: #9fd1ff;
$color--navyblue: #2c3e50;
$color--navyblue-20: #2c3e5020;
$color--navyblue-50: #2c3e5050;
$color--navyblue-80: #2c3e5080;

$transition--speed: 400ms;

$shadow-subtle: 0 0.2rem 0.4rem #0000000d;
