.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fadeup-enter-active,
.fadeup-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.fadeup-enter,
.fadeup-leave-to {
  opacity: 0;
  transform: translateY(20px);
}
