.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fadeup-enter-active,
.fadeup-leave-active {
  transition: opacity 0.3s ease;
}
.fadeup-enter,
.fadeup-leave-to {
  opacity: 0;
}

.fade-move {
  transition: all 1s ease;
}

.slide-up {
  &-move {
    transition: opacity 0.5s linear, transform 0.5s ease-in-out;
  }

  &-leave-active {
    transition: opacity 0.4s linear,
      transform 0.4s cubic-bezier(0.5, 0, 0.7, 0.4);
  }

  &-enter-active {
    transition: opacity 0.5s linear,
      transform 0.5s cubic-bezier(0.2, 0.5, 0.1, 1);
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter {
    transform: translateY(2rem);
  }

  &-leave-to {
    transform: translateY(2rem);
  }
}
