$color--dark: #383838;
$color--light: #eeeeee;
$color--light-active: #d9d9d9;
$color--success: #a4fda2;
$color--error: #ff8484;
$color--error-75: #ff848475;
$color--success-border: #66d263;
$color--light-yellow: #fcfda2;
$color--light-yellow-border: hsla(61, 96%, 46%, 1);
$color--light-yellow-text: hsla(61, 96%, 35%, 1);
$color-text-primary: #b6b6b6;
$color-text-secondary: #ececec;
$color-bg-primary: #23232e;
$color-bg-secondary: #141418;
$color-navy-blue: #2c3e50;
$color-navy-blue-50: #2c3e5050;

$transition--speed: 400ms;
