@mixin button-default($bgcolor: white, $color: $color--navyblue) {
  display: flex;
  padding: 6px 11px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  background-color: $bgcolor;
  cursor: pointer;
  box-shadow: $shadow-subtle;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  border: 2px solid rgba(black, 0.1);
  color: $color;

  &:hover {
    border-color: rgba(black, 0.2);
    background-color: darken($bgcolor, 2%);
  }

  & > svg {
    width: 14px;
    height: 14px;
  }

  & > :first-child {
    margin-left: 6px;
  }
}

@mixin button-big($color: white) {
  @include button-default($color);

  padding: 12px 6px;
  width: 100%;
}
