@mixin button-default {
  display: flex;
  padding: 6px 11px;
  border-radius: 3px;
  justify-content: space-between;
  align-items: center;
  width: 95px;
  background-color: white;
  cursor: pointer;
  box-shadow: $shadow-subtle;
  transition: border-color 0.3s ease;
  border: 1px solid white;

  &:hover {
    border-color: rgba($color--navyblue, 0.2);
  }

  & > svg {
    width: 14px;
    height: 14px;
    color: $color--navyblue;
  }
}
