//$color--dark: #383838;
$color--emperor: #797979;
//$color--emperor: #525252;
$color--light: #eeeeee;
$color--light-active: #d9d9d9;
$color--red: #ff8484;
$color--green: #41b883;
$color--yellow: #fcfda2;
$color--grey: #b6b6b6;
$color--darkblue: #23232e;
$color--black: #141418;
$color--blue: #9fd1ff;
$color--navyblue: #2c3e50;
$color--light-purple: rgb(220, 214, 252);
$color--sand: #fcf9d0;
$color--aero: #d0fce7;
$color--smoke: #ececec;
$color--orange: #e6b352;
$color--dark: #202020;
$color--abbey: #4c4c53;
$transition--speed: 400ms;

$shadow-subtle: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
