@mixin input-default($placeholder: false) {
  font-size: 1em;
  @if ($placeholder == true) {
    padding: 18px 10px 8px 10px;
  } @else {
    padding: 8px 10px;
  }

  background-color: white;
  border: 1px solid rgba($color--navyblue, 0.35);
  border-radius: 4px;
  box-shadow: $shadow-subtle;
  transition: border 0.2s ease;

  &:focus {
    border-color: rgba($color--navyblue, 0.65);
  }

  @include viewport_mq7 {
    @if ($placeholder == true) {
      padding: 22px 12px 10px 12px;
    } @else {
      padding: 10px 12px;
    }
  }
}

@mixin tooltip($text: attr(data-tooltip)) {
  position: relative;
  &::after {
    content: $text;
    font-size: 16px;
    line-height: normal;
    position: absolute;
    top: -33px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba($color--navyblue, 0.8);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease;
    pointer-events: none;
    text-transform: none;
    z-index: 10;
  }
  &:hover {
    &::after {
      opacity: 1;
    }
  }
}

@mixin form-header {
  @include typo_hl2($color--abbey);
  padding-bottom: 12px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba($color--abbey, 0.4);
}

@mixin fieldset-header {
  @include typo_hl3($color--abbey);
  padding-bottom: 8px;
  margin-bottom: 12px;
  border-bottom: 1px solid rgba($color--abbey, 0.4);
}

@mixin fieldset {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  background-color: $color--smoke;
  padding: 12px;
  width: 100%;

  @include viewport_mq3 {
    width: fit-content;
    padding: 16px;
  }
}

@mixin icon-button {
  padding: 6px;
  border: 2px solid rgba($color--navyblue, 0.8);
  border-radius: 6px;
  color: $color--abbey;
  box-shadow: $shadow-subtle;
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out, border-color 0.3s ease, background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color--smoke;

  & > svg {
    height: 100%;
  }

  &:hover:not([inactive]) {
    border-color: $color--abbey;
    background-color: darken($color--smoke, 10%);
    cursor: pointer;
  }

  &:active:not([inactive]) {
    transform: translateY(2px);
    box-shadow: none;
  }

  &[inactive] {
    opacity: 0.3;
  }

  @include viewport_mq3 {
    padding: 14px;
    border-radius: 12px;
    border-width: 3px;
  }
}

@mixin blurry-backdrop {
  @include spacing('padding', xs);

  background-color: rgba(white, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 8px;
  box-shadow: rgba(34, 35, 36, 0.2) 0px 8px 24px;

  display: flex;
  flex-direction: column;

  @include viewport_mq3 {
    @include spacing('padding', md);
  }
}

@mixin form-container {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: $color--smoke;
  border-radius: 8px;
  box-shadow: $shadow-subtle;
  width: 100%;

  @include viewport_mq3 {
    padding: 24px;
    width: 450px;
  }
}

@mixin view-content {
  background-color: white;
  box-shadow: $shadow-subtle;
  padding: 12px;

  @include viewport_mq3 {
    border-radius: 8px;
    padding: 24px;
  }
}
