@mixin input-default($placeholder: false) {
  @include typo_text;

  @if ($placeholder == true) {
    padding: 22px 10px 5px 12px;
  } @else {
    padding: 8px 10px;
  }

  background-color: var(--color-bg);
  outline: 1px solid var(--color-accent-35);
  border-bottom: 2px solid transparent;
  border-radius: 4px;
  box-shadow: $shadow-subtle;
  transition: border 0.2s ease, outline 0.2s ease, background-color 0.2s ease, color 0.2s ease;

  &:focus {
    outline-color: var(--color-accent-65);
    border-color: var(--color-accent-65);
  }

  @include viewport_mq7 {
    @if ($placeholder == true) {
      padding: 24px 12px 7px 12px;
    } @else {
      padding: 10px 12px;
    }
  }
}

@mixin tooltip($text: attr(data-tooltip)) {
  position: relative;
  &::after {
    content: $text;
    font-size: 16px;
    line-height: normal;
    position: absolute;
    top: -33px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-accent-80);
    color: var(--color-bg);
    padding: 4px 8px;
    border-radius: 4px;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease;
    pointer-events: none;
    text-transform: none;
    z-index: 10;
  }
  &:hover {
    &::after {
      opacity: 1;
    }
  }
}

@mixin form-header {
  @include typo_hl2;
  padding-bottom: 12px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba($color--abbey, 0.4);
}

@mixin fieldset-header {
  @include typo_hl3(var(--color-text-secondary));
  padding-bottom: 8px;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--color-text-secondary);
}

@mixin fieldset {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-secondary);
  padding: 12px;
  width: 100%;

  @include viewport_mq3 {
    width: fit-content;
    padding: 16px;
  }
}

@mixin icon-button {
  @include typo_emphasis(var(--color-text-secondary));

  padding: 9px 10px;
  border: 2px solid var(--color-border);
  border-radius: 6px;
  transition: border-color 0.3s ease, color 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg);
  color: var(--color-text-secondary);

  & > svg {
    height: 16px;
    @include spacing('margin-right', '2xs');
  }

  &:hover:not([disabled]) {
    cursor: pointer;
    border-color: var(--color-blue);
    color: var(--color-text);
    box-shadow: $shadow-subtle;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

@mixin blurry-bg {
  background: rgba(black, 0.1);
  backdrop-filter: blur(6px);
}

@mixin blurry-panel {
  @include spacing('padding', s);

  background-color: rgba(white, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 8px;
  box-shadow: rgba(34, 35, 36, 0.2) 0px 8px 24px;

  display: flex;
  flex-direction: column;

  @include viewport_mq3 {
    @include spacing('padding', md);
  }
}

@mixin form-container {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: var(--color-bg-secondary);
  border-radius: 8px;
  box-shadow: $shadow-subtle;
  width: 100%;

  @include viewport_mq3 {
    padding: 24px;
    width: 450px;
  }
}

@mixin view-content {
  background-color: var(--color-bg);
  box-shadow: $shadow-subtle;
  padding: 12px;

  @include viewport_mq3 {
    border-radius: 8px;
    @include spacing('padding', lg);
  }
}

@mixin tag-pill {
  @include typo_subline(var(--color-text-contrast));
  @include spacing('padding', '2px 2xs');

  font-size: 0.75rem;
  background-color: var(--color-blue);
  border-radius: 999px;
}

@mixin error-notification {
  width: 100%;
  color: var(--color-red);
  padding: 8px;
  border-radius: 6px;
  background-color: var(--color-red-20);
}
