body {
  // Colors
  --color-default: #2c3e50;
  --color-text: #333333;
  --color-text-secondary: #686868;
  --color-text-tertiary: #7a7a7a;
  --color-text-contrast: #ffffff;

  --color-green: #28ea76;
  --color-blue: #41b8b2;
  --color-blue-10: rgba(65, 184, 178, 0.1);
  --color-yellow: #e6b352;

  --color-bg: #ffffff;
  --color-bg-secondary: #fafafa;

  --color-border: #dcdcdc;

  // Fonts
  --font-default: 'Ubuntu', sans-serif;
}
