body {
  // Colors
  --color-default: #2c3e50;
  --color-text: #333333;
  --color-text-secondary: #686868;
  --color-text-tertiary: #7a7a7a;
  --color-text-contrast: #ffffff;
  --color-text-contrast-70: rgba(255, 255, 255, 0.7);
  --color-accent: rgb(44, 62, 80);
  --color-accent-80: rgba(44, 62, 80, 0.65);
  --color-accent-65: rgba(44, 62, 80, 0.65);
  --color-accent-50: rgba(44, 62, 80, 0.5);
  --color-accent-35: rgba(44, 62, 80, 0.35);

  --color-green: #28eaa8;
  --color-blue: #41b8b2;
  --color-blue-10: rgba(65, 184, 178, 0.1);
  --color-yellow: #e6b352;
  --color-red: #ff3c3c;

  --color-app-bg: #4c4c53;
  --color-bg: #ffffff;
  --color-bg-secondary: #eeeeee;
  --color-bg-tertiary: #dfdfdf;
  --color-bg-blue: #23232e;
  --color-bg-dark: #141418;

  --color-border: #dcdcdc;

  // Fonts
  --font-default: 'Ubuntu', sans-serif;
}

body.-dark {
  // Colors
  --color-default: #fafafa;
  --color-text: #f1f1f1;
  --color-text-secondary: #686868;
  --color-text-tertiary: #7a7a7a;
  --color-text-contrast: #ffffff;

  --color-green: #28ea76;
  --color-blue: #41b8b2;
  --color-blue-10: rgba(65, 184, 178, 0.1);
  --color-yellow: #e6b352;
  --color-red: #ff3c3c;

  --color-app-bg: #111114;
  --color-bg: #0f0f0f;
  --color-bg-secondary: #292929;
  --color-bg-tertiary: #363636;

  --color-border: #464646;

  // Fonts
  --font-default: 'Ubuntu', sans-serif;
}
