@mixin typo_hl1($color: var(--color-text)) {
  font-family: var(--font-default);
  font-weight: 700;
  font-size: 1.5rem;
  color: $color;
}

@mixin typo_hl2($color: var(--color-text)) {
  font-family: var(--font-default);
  font-weight: 700;
  font-size: 1.25rem;
  color: $color;
}

@mixin typo_hl3($color: var(--color-text)) {
  font-family: var(--font-default);
  font-weight: 500;
  font-size: 1.125rem;
  color: $color;
}

@mixin typo_text($color: var(--color-text)) {
  font-family: var(--font-default);
  font-weight: 400;
  font-size: 1rem;
  color: $color;
}

@mixin typo_emphasis($color: var(--color-text)) {
  font-family: var(--font-default);
  font-weight: 500;
  font-size: 1rem;
  color: $color;
}

@mixin typo_subline($color: var(--color-text-secondary)) {
  font-family: var(--font-default);
  font-weight: 400;
  font-size: 0.875rem;
  color: $color;
}

$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
