.login-form {
  &__fieldset {
    display: flex;
    flex-direction: column;

    padding: 24px;
    // border: 1px solid $color--navyblue-50;
    background-color: white;
    &:not(:first-of-type) {
      margin-top: 12px;
    }
    transition: height 0.3s ease;
    border-radius: 8px;
  }

  &__label {
    font-size: 1em;
    display: block;
    &:not(:first-of-type) {
      margin-top: 12px;
    }
    transition: color 0.2s ease;
  }

  &__input {
    font-size: 1em;
    padding: 8px;
    border: 2px solid $color--navyblue-50;
    border-radius: 6px;
    width: 300px;

    transition: border 0.2s ease;
    &:not(:first-of-type) {
      margin-top: 12px;
    }

    &.-invalid {
      border: 3px solid $color--red;
    }

    &::placeholder {
      transition: opacity 0.3s ease;
      opacity: 0.5;
    }

    &--email,
    &--password {
      &:focus {
        &::placeholder {
          opacity: 0;
        }
      }
    }
  }

  &__submit {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    border-radius: 2px;
    padding: 4px 8px;
    letter-spacing: 1px;
    font-size: 0.9em;
    height: 32px;
    transition: background-color 0.2s ease;
    cursor: pointer;
    background-color: $color--green;
  }

  &__register-text {
    margin-top: 8px;
  }

  &__register-link {
    font-weight: bold;
    margin-left: 4px;
    color: $color--green;
    cursor: pointer;
  }

  &__error {
    color: $color--red;
    max-width: 300px;
    margin-bottom: 12px;
    padding: 8px;
    border-radius: 6px;
    background-color: $color--red-25;

    &.-success {
      color: $color--green;
      background-color: $color--green-25;
    }
  }
}
