.login-form {
  &__fieldset {
    display: flex;
    flex-direction: column;

    padding: 16px;
    border: 2px dashed $color--navyblue-50;

    &:not(:first-of-type) {
      margin-top: 12px;
    }

    border-radius: 8px;
  }

  &__label {
    font-size: 1em;
    display: block;
    &:not(:first-of-type) {
      margin-top: 12px;
    }
    transition: color 0.2s ease;
    &.-invalid {
      color: $color--red;
    }
  }

  &__input {
    font-size: 1em;
    padding: 8px;
    border: 3px solid $color--navyblue-50;
    border-radius: 8px;
    margin-top: 6px;
    width: 300px;
    transition: border 0.2s ease;
    &.-invalid {
      border: 3px solid $color--red;
    }
  }

  &__submit {
    text-transform: uppercase;
    color: white;
    border-radius: 2px;
    padding: 4px 8px;
    letter-spacing: 1px;
    font-size: 0.9em;
    width: 64px;
    height: 32px;
    transition: background-color 0.2s ease;
    cursor: pointer;
    background-color: $color--green;
  }
}
