.team-info {
  display: flex;

  &__head {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $font_ubuntu-bold;
    font-size: 2em;
    text-transform: uppercase;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__website {
    font-size: 1.1em;
    font-style: italic;
    margin-top: 4px;
    cursor: pointer;
  }

  &__server-wrapper {
    color: $color--navyblue-80;
    display: flex;
    align-items: center;
    margin-top: 12px;
  }

  &__server-copy,
  &__server-run {
    @include icon-button;

    width: 36px;
    height: 36px;

    @include viewport_mq3 {
      width: 60px;
      height: 60px;
    }
  }

  &__server-run {
    margin-left: 8px;
    @include viewport_mq3 {
      padding: 12px;
    }
  }

  &__server-copy {
    &::after {
      left: 70px;
    }
  }

  &__code {
    @include icon-button;

    width: 200px;
    height: 60px;
  }

  &__code-copy {
    
  }

  &__manage-team,
  &__server-fieldset {
    @include fieldset;

    height: 150px;
  }

  &__manage-team-headline,
  &__server-headline {
    @include fieldset-header;
  }
}
