.team-info {

  display: flex;
  flex-direction: column;
  
  &__title {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__website {
    font-size: 1.1em;
    font-style: italic;
    margin-top: 4px;
    cursor: pointer;
  }

  &__server-wrapper {
    display: flex;
    color: $color--navyblue-80;
    align-items: center;
    margin-top: 12px;
  }

  &__server-copy,
  &__server-run {
    width: 36px;
    height: 36px;
    padding: 6px;
    border: 2px solid $color--navyblue-80;
    border-radius: 6px;
    cursor: pointer;
  }

  &__server-run {
    @include tooltip;
    margin-left: 8px;
  }

  &__server-copy {
    @include tooltip;
    &::after {
      left: 70px;
    }
  }

  &__code {
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold;
    color: $color--navyblue-80;
    padding: 4px 0 4px 12px;
    border: 3px dashed $color--navyblue-80;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: auto;
    user-select: auto;
    width: fit-content;
  }

  &__code-copy {
    @include tooltip;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    margin-left: 8px;
    padding: 6px 16px 6px 12px;
    & > svg {
      height: 24px;
      width: 24px;
    }
  }
}
