.mouse-button-picker {
  position: relative;
  width: 30px;
  height: 48px;
  cursor: pointer;

  @include viewport_mq3 {
    width: 36px;
    height: 60px;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
